{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2015, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="row">
  <div class="large-12 columns">
    <label class="" for="MEMORY">
      {{tr "Memory"}}
      {{{tip (tr "Amount of RAM required for the VM, in Megabytes.")}}}
    </label>
  </div>
  <div class="small-10 columns memory_input_wrapper">
    <div class="memory_input">
    </div>
    <div class="memory_gb_input">
    </div>
  </div>
  <div class="small-2 columns">
    <select id="memory_unit" name="MEMORY_UNIT">
      <option value="MB">{{tr "MB"}}</option>
      <option value="GB" selected>{{tr "GB"}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <label class="" for="CPU">
      {{tr "CPU"}}
      {{{tip (tr "Percentage of CPU divided by 100 required for the Virtual Machine. Half a processor is written 0.5.")}}}
    </label>
    <div class="cpu_input">
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <label class="" for="VCPU">
      {{tr "VCPU"}}
      {{{tip (tr "Number of virtual cpus. This value is optional, the default hypervisor behavior is used, usually one virtual CPU.")}}}
    </label>
    <div class="vcpu_input">
    </div>
  </div>
</div>