{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}
<form data-abide novalidate id="{{formPanelId}}Wizard" class="custom creation">
  <div class="row">
    <div class="medium-6 columns">
      <label for="NAME">
        {{tr "Name"}}
        <span class="tip">
          {{tr "Name that the resource will get for description purposes."}}
        </span>
      </label>
      <input id="NAME" type="text" wizard_field="NAME"/>
    </div>
  </div>
  <div class="row vmname" style="display:none">
    <div class="medium-6 columns">
      <label for="VMNAME">
        {{tr "VM Template Name"}}
        <span class="tip">
          {{tr "The following template will be created in OpenNebula and the previous images will be referenced in the disks."}}
        </span>
      </label>
      <input id="VMNAME" type="text" wizard_field="VMNAME"/>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <label for="NOTEMPLATE">
        <input id="NOTEMPLATE" type="checkbox" wizard_field="NOTEMPLATE"/>
        {{tr "Do not import/export associated VM templates/images"}}
      </label>
    </div>
  </div>
  <fieldset id="placeDatatableDatastore">
    <legend>{{tr "Select the Datastore to store the resource"}}</legend>
    {{{ datastoresTableHTML }}}
  </fieldset>
  <div class="vCenterTemplateSelection">
    {{#advancedSection (tr "(Optional) Select an existing VM Template") }}
    <fieldset id="placeDatatablevCenterTemplate">
      <legend>{{tr "Select the vCenter Template to use"}}</legend>
      {{{ vCenterTemplatesTableHTML }}}
    </fieldset>
    {{/advancedSection}}
  </div>
  <fieldset id="placeDatatableDockerTags" style="display: none;">
    <legend>{{tr "Select the Dockerhub tag"}}</legend>
    {{{ dockertagsTableHTML }}}
  </fieldset>
</form>
