{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="row">
  <div class="medium-6 columns">
    <h5>{{element.subject}}</h5>
    <p class="subheader" style="font-size: 14px;">
      {{{htmlDecode element.html_description}}}
    </p>
  </div>
  <div class="medium-6 columns">
    <table id="info_marketplace_table" class="dataTable">
      <thead>
        <tr>
          <th colspan="2">Information</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="key_td">Requested</td>
          <td class="value_td">{{element.created_at}}</td>
        </tr>
        <tr>
          <td class="key_td">Status</td>
          <td class="value_td">{{element.status}}</td>
        </tr>
        <tr>
          <td colspan="2"><span class="large-12 label secondary radius">{{message}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
{{#each comments}}
  {{#advancedSection  title}}
  <div class="row">
    <div class="large-12 columns comment" style="font-size: 14px !important;">
      {{{htmlDecode html_body}}}
    </div>
  </div>
  {{/advancedSection}}
{{/each}}
<div class="row">
  <div class="large-12 columns support_upload_progress_bars">
  </div>
</div>
<form id="submit_support_comment">
  <div class="row">
    <div class="large-12 columns">
      <textarea class="comment" placeholder="Add a comment to this request" rows="4"/>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input id="solved" type="checkbox">
      <label for="solved">Please consider this request resolved</label>
      <button class="button right radius success" type="submit">Submit</button>
    </div>
  </div>
</form>
