<div class="row">
  <div class="large-12 columns">
    <table id="datatable_pci_{{panelId}}" class="dataTable extended_table">
      <thead>
        <tr>
          <th>{{tr "VM"}}</th>
          <th>{{tr "PCI Address"}}</th>
          <th>{{tr "Type"}}</th>
          <th>{{tr "Name"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each pcis}}
          <tr>
            <td>{{VMID}}</td>
            <td>{{SHORT_ADDRESS}}</td>
            <td>{{TYPE}}</td>
            <td>{{DEVICE_NAME}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>