{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

  <span>
    {{#unless customContext}}
    <span id="{{customId}}back_button" class=" only-sunstone-info only-sunstone-form">
      <button class="button radius" href="back"> <i class="fas fa-arrow-left"></i> <i class="fas fa-list"></i>
      </button>
    </span>
    {{/unless}}

    <span id='{{customId}}form_buttons' class='only-sunstone-form' hidden>
      <span id="{{customId}}reset_button">
        <button class="button secondary radius reset_button" href="submit">{{tr "Reset"}}</button>
      </span>
      <span id="{{customId}}submit_button">
        <button class="button success radius submit_button" href="submit">{{tr "Create"}}</button>
      </span>
    </span>

    <span id="{{customId}}create_buttons" class="only-sunstone-list"></span>

    <button type='button' data-toggle='{{customId}}create_buttons_flatten' class='only-sunstone-info only-sunstone-list top_button button secondary dropdown success alwaysActive'>
      <i class='fas fa-plus'/>
    </button>
    <ul id='{{customId}}create_buttons_flatten' class='dropdown-pane menu vertical' data-dropdown></ul>

    <span id="{{customId}}refresh_buttons" class=" only-sunstone-info only-sunstone-list"></span>
  </span>
  <span>
    <button type='button' id="vmsremote_buttons" data-toggle='{{customId}}vmsremote_buttons' class='only-sunstone-info top_button button dropdown'>
      <i class='fas fa-desktop'/>
    </button>
    <ul id='{{customId}}vmsremote_buttons' class='only-sunstone-info dropdown-pane menu vertical' data-dropdown></ul>

    <span id="{{customId}}main_buttons" class="only-sunstone-info only-sunstone-list"></span>

    <span id="{{customId}}vmsplay_buttons" class='only-sunstone-info only-sunstone-list'></span>

    <button type='button' data-toggle='{{customId}}lock_buttons' class='lock-sunstone-info only-sunstone-info only-sunstone-list top_button  button secondary dropdown'>
      <i class='fas fa-lock'/>
    </button>
    <ul id='{{customId}}lock_buttons' class='lock-sunstone-info only-sunstone-info only-sunstone-list dropdown-pane menu vertical' data-dropdown></ul>


    <button type='button' data-toggle='{{customId}}vmspause_buttons' class='not_firecracker only-sunstone-info only-sunstone-list top_button  button secondary dropdown'>
      <i class='fas fa-pause'/>
    </button>
    <ul id='{{customId}}vmspause_buttons' class='only-sunstone-info only-sunstone-list dropdown-pane menu vertical' data-dropdown></ul>

    <button type='button' data-toggle='{{customId}}vmsstop_buttons' class='only-sunstone-info only-sunstone-list top_button button secondary dropdown'>
      <i class='fas fa-power-off'/>
    </button>
    <ul id='{{customId}}vmsstop_buttons' class='only-sunstone-info only-sunstone-list dropdown-pane menu vertical' data-dropdown></ul>

    <button type='button' data-toggle='{{customId}}vmsrepeat_buttons' class='not_firecracker only-sunstone-info only-sunstone-list top_button  button secondary dropdown'>
      <i class='fas fa-redo-alt'/>
    </button>
    <ul id='{{customId}}vmsrepeat_buttons' class='only-sunstone-info only-sunstone-list dropdown-pane menu vertical' data-dropdown></ul>

    <button type='button' data-toggle='{{customId}}vmsplanification_buttons' class='only-sunstone-info only-sunstone-list top_button  button secondary dropdown'>
      <i class='fas fa-share-square'/>
    </button>
    <ul id='{{customId}}vmsplanification_buttons' class='only-sunstone-info only-sunstone-list dropdown-pane menu vertical' data-dropdown></ul>

  </span>
  <span>
    <button type='button' data-toggle='{{customId}}more_buttons' class='only-sunstone-info only-sunstone-list top_button  button secondary dropdown'>
      <i class='fas fa-ellipsis-v'/>
    </button>
    <ul id='{{customId}}more_buttons' class='only-sunstone-info only-sunstone-list dropdown-pane menu vertical' data-dropdown></ul>

    <button type='button' data-toggle='{{customId}}user_buttons' class='only-sunstone-info only-sunstone-list top_button  secondary button dropdown'>
      <i class='fas fa-user'/></button>
    <ul id='{{customId}}user_buttons' class='only-sunstone-info only-sunstone-list dropdown-pane menu vertical' data-dropdown></ul>

    <span id='{{customId}}labels_buttons' class='only-sunstone-info only-sunstone-list'></span>

    <button type='button' data-toggle='{{customId}}vmsdelete_buttons' class='only-sunstone-info only-sunstone-list top_button  button alert dropdown'>
      <i class='fas fa-trash-alt'/></button>
    <ul id='{{customId}}vmsdelete_buttons' class='only-sunstone-info only-sunstone-list dropdown-pane menu vertical' data-dropdown></ul>

    <span id='{{customId}}delete_buttons' class='only-sunstone-info only-sunstone-list'></span>

    <span class="only-sunstone-form">
      <ul id="{{customId}}FormTabs" class="tabs right wizard_tabs " hidden data-tabs>
        <li id="wizard_mode" class="tabs-title is-active">
          <a href="#{{customId}}-wizardForms">{{tr "Wizard"}}</a>
        </li>
        <li id="advanced_mode" class="tabs-title">
          <a href="#{{customId}}-advancedForms">{{tr "Advanced"}}</a>
        </li>
      </ul>
    </span>
  </span>
