{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div id="{{containerId}}">
  <div id="{{containerId}}Errors"></div>
  <ul id="{{containerId}}Tabs" class="tabs sunstone-info-tabs text-center" data-tabs>
    {{#each panels}}
    <li class="{{class}} tabs-title {{#if active}}is-active{{/if}}">
      <a href="#{{panelName}}">
        {{#if icon}}
          <i class="fas {{icon}}"></i>
          <br>
        {{/if}}
        {{title}}
      </a>
    </li>
    {{/each}}
  </ul>
  <div class='tabs-content' data-tabs-content="{{containerId}}Tabs">
    {{#each panels}}
    <div id="{{panelName}}" class="tabs-panel {{#if active}}is-active{{/if}}">
      {{{html}}}
    </div>
    {{/each}}
  </div>
</div>
