{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}
<div id="{{tabName}}" class="tab" style="display:none;">
  {{#if listHeader }}
  <div class="row header-row">
    <div class="large-12 columns">
      <h5 class="header-title only-sunstone-list">
        <span class="header-resource">{{{listHeader}}}</span>
      </h5>
      <h5 class="header-title only-sunstone-info" hidden>
        <span class="header-resource">
          {{#if lockable }}
          <small class="resource-lock-header-small"></small>
          {{/if}}
          {{{infoHeader}}}
          <small class="resource-id"></small>
          <small class="resource-info-header"></small>
          <small class="resource-info-header-small"></small>
        </span>
      </h5>
      <h5 class="header-title only-sunstone-form" hidden>
        <span class="sunstone-form-title"></span>
        <small class="sunstone-form-id"></small>
        <small class="sunstone-form-info-header"></small>
        <small class="sunstone-form-info-header-small"></small>
      </h5>
    </div>
    {{#if buttons}}
    <div class="actions_row">
      <div class="medium-12 large-10 columns action_blocks"></div>
      <div class="medium-4 large-2 columns search_division">
        <div class="only-sunstone-list" style="display:flex">
          {{#if dataTable.typeFilter }}
            {{{dataTable.typeFilter}}}
          {{/if}}
          {{#if dataTable.searchInputHTML}}
            {{{dataTable.searchInputHTML}}}
          {{/if}}
        </div>
      </div>
    </div>
    {{/if}}
  </div>
  {{/if}}

  <div class="sunstone-list">
    {{#if dataTable.dataTableHTML}}
    <div class="row">
      <div class="large-12 columns">{{{dataTable.dataTableHTML}}}</div>
    </div>
    {{/if}}

    {{#if content}}
    {{{content}}}
    {{/if}}

    {{#if subheader}}
    <div class="row header-info">
      <div class="large-12 columns text-center">
        <h5>
          {{#if subheader}}
            {{{subheader}}}
          {{/if}}
        </h5>
      </div>
    </div>
    {{/if}}
  </div>

  <div class="sunstone-info" hidden></div>

  <div class="large-12 small-12 sunstone-form" hidden>
    <div class="loadingForm">
      <br>
      <br>
      <span class="fa-stack fa-5x"> <i class="fas fa-cloud fa-stack-2x"/><i class="fas fa-spinner fa-spin fa-stack-1x fa-inverse"/>
      </span>
      <br>
      <br></div>
    <div class="contentForm"></div>
  </div>
</div>