<div id="{{tabName}}" class="tab" style="display:none;">
  {{#if listHeader }}
  <div class="row header-row">
    <div class="large-12 columns">
      <h3 class="subheader header-title only-right-list" style="border-bottom: 1px solid #efefef; padding-bottom: 10px;">
        <span class="header-resource" style="border-bottom: 3px solid #0098c3; padding: 0px 50px 10px 0px;">{{{listHeader}}}</span>
      </h3>
      <h3 class="subheader header-title only-right-info" style="border-bottom: 1px solid #efefef; padding-bottom: 10px;" hidden>
        <span class="header-resource" style="border-bottom: 3px solid #0098c3; padding: 0px 50px 10px 0px;">{{{infoHeader}}}</span>
        &emsp;
        <span class="resource-id"></span>
        &emsp;
        <span class="resource-info-header"></span>
      </h3>
      <h3 class="subheader header-title only-right-form" hidden>
        <span class="right-form-title"></span>
      </h3>
    </div>
  </div>
  {{/if}}

  {{#if buttons}}
  <div class="row actions_row">
    <div class="small-12 large-12 columns">
      <div class="action_blocks"></div>
      <div class="small-3 large-3 columns only-right-list" style="margin-top: 2px">
        {{#if dataTable.searchInputHTML}}
          {{{dataTable.searchInputHTML}}}
        {{/if}}
      </div>
    </div>
  </div>
  {{/if}}
  <div class="right-list">
    {{#if dataTable.dataTableHTML}}
    <div class="row">
      <div class="large-12 columns">{{{dataTable.dataTableHTML}}}</div>
    </div>
    {{/if}}

    {{#if content}}
    {{{content}}}
    {{/if}}

    {{#if subheader}}
    <div class="row header-info">
      <div class="large-12 columns text-center totals-info">
        <h3 class="subheader">
          {{#if subheader}}
            {{{subheader}}}
          {{/if}}
        </h3>
      </div>
    </div>
    {{/if}}
  </div>

  <div class="right-info" hidden></div>

  <div class="large-12 small-12 right-form" hidden>
    <div class="loadingForm">
      <br>
      <br>
      <span class="fa-stack fa-5x" style="color: #dfdfdf"> <i class="fa fa-cloud fa-stack-2x"/><i class="fa  fa-spinner fa-spin fa-stack-1x fa-inverse"/>
      </span>
      <br>
      <br>
    </div>
    <div class="contentForm">
    </div>
  </div>
</div>