{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<ul class="dropdown menu" data-dropdown-menu data-alignment="right">
  {{#if filterView}}
  <li>
    <a class="thin-font" href="#" id="filter-view">
      <i class="fas fa-filter fa-fw header-icon"></i>
      <span class="filter-name"></span>
    </a>
  </li>
  {{/if}}
  <li>
    <a class="thin-font" href="#" id="userselector">
      <i class="fas fa-user fa-fw header-icon"></i>
      <span class="username">
        {{displayName}}
      </span>
    </a>
    <ul class="menu">
      {{#if settingsTabEnabled}}
      <li>
        <a href="#" class="configuration">
          <i class="fas fa-fw fa-cog"></i>
          {{tr "Settings"}}
        </a>
      </li>
      {{/if}}
      <li>
        <a href="#" class="logout">
          <i class="fas fa-fw fa-power-off"></i>
          {{tr "Sign Out"}}
        </a>
      </li>
      {{#if availableViews}}
      <li>
        <a href="#">
          <i class="fas fa-fw fa-eye"></i>
          {{tr "Views"}} ({{mode}})
        </a>
        <ul class="menu">
          {{#each availableViews}}
          <li>
            <a href="#" class="quickconf_view" view="{{this}}">
              <i class="fas fa-fw"></i>
              {{this}}
            </a>
          </li>
          {{/each}}
        </ul>
      </li>
      {{/if}}
      <li>
        <a href="#">
          <i class="fas fa-fw fa-users"></i>
          {{tr "Groups"}}
        </a>
        <ul class="menu groups-menu"></ul>
      </li>
    </ul>
  </li>
  <li>
    <a class="thin-font" id="zonelector" href="#">
      <i class="fas fa-globe fa-fw header-icon"></i>
      <span class="zonename">
        {{zoneName}}
      </span>
    </a>
    <ul class="menu zone-ul">
    </ul>
  </li>
</ul>