<form id="provision_create_vm" class="hidden section_content">
  <div class="row">
    <div class="large-10 large-centered columns">
      <h2 class="subheader">{{tr "Create Virtual Machine"}}</h2>
      <br></div>
  </div>
  <div class="row">
    <div class="large-8 large-centered columns">
      <input type="text" id="vm_name"  class="provision-input" placeholder="{{tr "Virtual Machine Name"}}" style="height: 40px !important; font-size: 16px; padding: 0.5rem  !important;"/>
      <br></div>
  </div>
  <div class="row">
    <div class="large-10 large-centered columns">
      <dl class="accordion provision_accordion_template" data-accordion="provision_accordion_template">
        <dd style="border-bottom: 1px solid #efefef;" class="active accordion-navigation">
          <a href="#provision_dd_template" style="background: #fff; font-size: 30px">
            <span class="select_template" style="color:#555">{{tr "Select a Template"}}</span>
            <span class="selected_template" style="display:none; color:#555">
              <span class="provision-logo selected_template_logo" style="line-height: 80px"></span>
              <span class="selected_template_name"></span>
              <span class="has-tip right" style="cursor: pointer; margin-right:10px; line-height: 80px"> <i class="fa fa-pencil"/></span>
            </span>
          </a>
          <div id="provision_dd_template" class="active content">
            <div class="row provision_select_template">
              <div class="large-12 large-centered columns">
                <dl class="tabs text-center" data-tab style="width: 100%">
                  <dd class="active" style="width: 33%;">
                    <a href="#provision_system_templates_selector">{{tr "System"}}</a>
                  </dd>
                  <dd style="width: 33%;">
                    <a href="#provision_vdc_templates_selector">{{tr "Group"}}</a>
                  </dd>
                  <dd style="width: 34%;">
                    <a href="#provision_saved_templates_selector">{{tr "Saved"}}</a>
                  </dd>
                </dl>
                <div class="row">
                  <div class="large-12 large-centered columns">
                    <h3 class="subheader text-right">
                      <input type="search" class="provision-search-input right" placeholder="Search" id="provision_create_template_search"/>
                    </h3>
                    <br></div>
                </div>
                <div class="tabs-content">
                  <div class="content active" id="provision_system_templates_selector">
                    <table id="provision_system_templates_table">
                      <thead class="hidden">
                        <tr>
                          <th>{{tr "ID"}}</th>
                          <th>{{tr "Name"}}</th>
                          <th>{{tr "Saved"}}</th>
                        </tr>
                      </thead>
                      <tbody class="hidden"></tbody>
                    </table>
                  </div>
                  <div class="content" id="provision_vdc_templates_selector">
                    <table id="provision_vdc_templates_table">
                      <thead class="hidden">
                        <tr>
                          <th>{{tr "ID"}}</th>
                          <th>{{tr "Name"}}</th>
                          <th>{{tr "Saved"}}</th>
                          <th>{{tr "Shared"}}</th>
                        </tr>
                      </thead>
                      <tbody class="hidden"></tbody>
                    </table>
                  </div>
                  <div class="content" id="provision_saved_templates_selector">
                    <table id="provision_saved_templates_table">
                      <thead class="hidden">
                        <tr>
                          <th>{{tr "ID"}}</th>
                          <th>{{tr "Name"}}</th>
                          <th>{{tr "Saved"}}</th>
                          <th>{{tr "Shared"}}</th>
                        </tr>
                      </thead>
                      <tbody class="hidden"></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </dd>
      </dl>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-10 large-centered columns">
      <div class="provision_capacity_selector"></div>
      <br>
      <div class="provision_disk_selector"></div>
      <br>
      <div class="provision_network_selector"></div>
      <br>
      <div class="provision_custom_attributes_selector"></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="large-7 columns large-centered">
      <div data-alert class="alert-box alert-box-error radius text-center hidden"></div>
      <button href="#" class="button large success radius large-12 small-12" type="submit" style="height: 59px">{{tr "Create"}}</button>
    </div>
  </div>
  <br>
  <br></form>