{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2015, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="text-center provision_info_vm_loading">
  <span class="fa-stack fa-5x" style="color: #dfdfdf"> <i class="fa fa-cloud fa-stack-2x"></i> <i class="fa  fa-spinner fa-spin fa-stack-1x fa-inverse"></i>
  </span>
  <br>
  <br>
  <span style="font-size: 18px; color: #999"></span>
</div>
<div class="provision_info_vm">
  <div class="row">
    <div class="large-12 large-centered columns">
      <ul class="inline-list provision_action_icons">
        <li>
          <a href"#" title="{{tr "Open a remote console in a new window"}}" class="left button small radius provision_vnc_button tip-top">
            <i class="fa fa-fw fa-lg fa-desktop"/></a>
          <a title="{{tr "You have to boot the Virtual Machine first"}}" class="left button small radius white provision_vnc_button_disabled tip-top" style="color: #999">
            <i class="fa fa-fw fa-lg fa-desktop"/></a>
          {{#isTabPanelEnabled "provision-tab" "templates"}}
          <a href"#" title="{{tr "The main disk of the Virtual Machine will be saved in a new Image"}}" class="left button small radius success provision_snapshot_button tip-top">
            <i class="fa fa-fw fa-lg fa-save"/>
          </a>
          <a title="{{tr "You have to power-off the virtual machine first"}}" class="left button small radius white provision_snapshot_button_disabled tip-top" style="color: #999">
            <i class="fa fa-fw fa-lg fa-save"/>
          </a>
          {{/isTabPanelEnabled}}
        </li>
        <li class="right">
          <a href"#" title="{{tr "Delete"}}" class="button small radius alert provision_delete_confirm_button tip-top right">
            <i class="fa fa-fw fa-lg fa-trash-o"/>
          </a>
          <a href"#" title="{{tr "Delete"}}" class="button small radius alert provision_shutdownhard_confirm_button tip-top right">
            <i class="fa fa-fw fa-lg fa-trash-o"/>
          </a>
          <a href"#" title="{{tr "Power off"}}" class="button small radius secondary provision_poweroff_confirm_button tip-top right">
            <i class="fa fa-fw fa-lg fa-power-off"/>
          </a>
          <a href"#" title="{{tr "Power on"}}" class="button small radius secondary provision_poweron_button tip-top right">
            <i class="fa fa-fw fa-lg fa-play"/>
          </a>
          <a href"#" title="{{tr "Reboot"}}" class="button small radius secondary provision_reboot_confirm_button tip-top right">
            <i class="fa fa-fw fa-lg fa-repeat"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="provision_confirm_action large-12 large-centered columns"></div>
  </div>
  <div class="row">
    <div class="large-5 columns">
      <ul class="provision-pricing-table_vm_info provision-pricing-table" style="border: 0px !important; margin-top: 20px;"></ul>
    </div>
    <div class="large-6 columns right">
      <div class="row">
        <div class="large-6 medium-6  columns">
          <div class="row text-center">
            <div class="large-12 columns">
              <h4 class="subheader" style="margin: 0px">
                <small>{{tr "CPU"}}</small>
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <div class="large-12 columns centered graph vm_cpu_graph" style="height: 100px;"></div>
            </div>
          </div>
          <div class="row graph_legend">
            <div class="large-12 columns centered vm_cpu_legend"></div>
          </div>
        </div>
        <div class="large-6 medium-6 columns">
          <div class="row text-center">
            <div class="large-12 columns">
              <h4 class="subheader" style="margin: 0px">
                <small>{{tr "Memory"}}</small>
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <div class="large-12 columns centered graph vm_memory_graph" style="height: 100px;"></div>
            </div>
          </div>
          <div class="row graph_legend">
            <div class="large-12 columns centered vm_memory_legend"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="large-12 columns">
      <br>
      <div class="row">
      <div class="large-3 medium-6 columns">
        <div class="row text-center">
          <div class="large-12 columns">
            <h4 class="subheader" style="margin: 0px">
              <small>{{tr "Net RX"}}</small>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <div class="large-12 columns centered graph vm_net_rx_graph" style="height: 100px;"></div>
          </div>
        </div>
        <div class="row graph_legend">
          <div class="large-12 columns centered vm_net_rx_legend"></div>
        </div>
      </div>
      <div class="large-3 medium-6  columns">
        <div class="row text-center">
          <div class="large-12 columns">
            <h4 class="subheader" style="margin: 0px">
              <small>{{tr "Net TX"}}</small>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <div class="large-12 columns centered graph vm_net_tx_graph" style="height: 100px;"></div>
          </div>
        </div>
        <div class="row graph_legend">
          <div class="large-12 columns centered vm_net_tx_legend"></div>
        </div>
      </div>
      <div class="large-3 medium-6  columns">
        <div class="row text-center">
          <div class="large-12 columns">
            <h4 class="subheader" style="margin: 0px">
              <small>{{tr "Net Download Speed"}}</small>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <div class="large-12 columns centered graph vm_net_rx_speed_graph" style="height: 100px;"></div>
          </div>
        </div>
        <div class="row graph_legend">
          <div class="large-12 columns centered vm_net_rx_speed_legend"></div>
        </div>
      </div>
      <div class="large-3 medium-6 columns">
        <div class="row text-center">
          <div class="large-12 columns">
            <h4 class="subheader" style="margin: 0px">
              <small>{{tr "Net Upload Speed"}}</small>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <div class="large-12 columns centered graph vm_net_tx_speed_graph" style="height: 100px;"></div>
          </div>
        </div>
        <div class="row graph_legend">
          <div class="large-12 columns centered vm_net_tx_speed_legend"></div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br></div>
