{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<form data-abide novalidate id="{{formPanelId}}Wizard" class="custom creation">
  <div class="row">
    <div class="large-12 large-centered columns selectTemplateTable">
    </div>
  </div>
  <div class="instantiate_wrapper">
    <div class="row">
      <div class="medium-6 columns">
        <label for="service_name">{{tr "Service name"}}
          <span class="tip">{{tr "When creating several Services, the wildcard %i will be replaced with a number starting from 0"}}.</span>
        </label>
        <input type="text" name="service_name" id="service_name" />
      </div>
      <div class="medium-6 columns">
        <label for="service_n_times">{{tr "Number of instances"}}
        </label>
        <input type="number" min="1" name="service_n_times" id="service_n_times" value="1">
      </div>
    </div>
    <h5>
      <span class="name"></span>
      <span class="total_cost_div" hidden>
        <small class="cost_value">0.00</small>
        <small>{{tr "COST"}} / {{tr "HOUR"}}</small>
      </span>
    </h5>
    <div id="instantiate_service_user_inputs">
      <i class="fas fa-spinner fa-spin"></i>
    </div>
    <div id="charter">
      {{#if userInputsCharters}}
        <fieldset>
        <legend>{{tr "Add Charters Values Configuration" }}</legend>
        <div class="charters_values">{{{userInputsCharters}}}</div>
        </fieldset>
      {{/if}}
    </div>
    <fieldset class="row" id="instantiate_service_role_user_inputs">
    </fieldset>
  </div>
</form>
