<form data-abide="ajax" id="{{formPanelId}}Wizard" class="custom creation">
  <div class="row">
    <div class="large-6 columns">
      <label for="service_name">{{tr "Service Name"}}
        <span class="tip">{{tr "Defaults to template name when emtpy. You can use the wildcard &#37;i. When creating several Services, &#37;i will be replaced with a different number starting from 0 in each of them"}}.</span>
      </label>
      <input type="text" name="service_name" id="service_name" />
    </div>
    <div class="large-6 columns">
      <label for="service_n_times">{{tr "Number of instances"}}
        <span class="tip">{{tr "Number of Services that will be created using this template"}}.</span>
      </label>
      <input type="text" name="service_n_times" id="service_n_times" value="1">
    </div>
  </div>
  <div id="instantiate_service_user_inputs">
    <i class="fa fa-spinner fa-spin"></i>
  </div>
  <div class="row" id="instantiate_service_role_user_inputs">
  </div>
</form>