{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

{{#isTabActionEnabled "groups-tab" "Group.edit_admins"}}
  <div class="row">
    <div class="medium-4 small-10 columns right">
      <span>
        <button class="button secondary small radius" id="edit_admins_button" style="width: 100%;">
          <span class="fas fa-edit"></span> {{tr "Edit administrators"}}
        </button>
        <button class="button alert small radius" id="cancel_admins_button" style="display: none">
          {{tr "Cancel"}}
        </button>
        <button class="button success small radius" id="submit_admins_button" style="display: none">
          {{tr "Apply"}}
        </button>
      </span>
    </div>
  </div>
{{/isTabActionEnabled}}
<div class="group_users_info_table">
  {{{usersTableHTML}}}
</div>
<div class="row">
  <p>{{{tr "Users marked with <i class='fas fa-star'></i> are administrators"}}}
</div>


