{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div id="{{dialogId}}" class="reveal" data-reveal>
  <div class="row">
    <h3 class="subheader">{{tr "Scale"}}</h3>
  </div>
  <div class="confirm-resources-header"></div>
  <form data-abide novalidate id="{{dialogId}}Form">
    <div class="row">
      <div class="large-12 columns">
        <label>
          {{tr "Number of VMs"}}
          <input type="number" min="0" name="cardinality" id="cardinality" required/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <input type="checkbox" name="force" id="force"/>
        <label class="inline" for="force">{{tr "Force"}}
          <span class="tip">{{tr "Force the new cardinality even if it is outside the limits"}}</span>
        </label>
      </div>
    </div>
    <div class="form_buttons row">
      <button type="submit" class="button radius right">
        {{tr "Scale"}}
      </button>
    </div>
    <button class="close-button" data-close aria-label="{{tr "Close modal"}}" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </form>
</div>
