<div id="{{dialogId}}" class="reveal-modal large" role="dialog" data-reveal >
  <div class="row">
    <div class="large-12 columns">
      <h3 id="migrate_vm_header" class="subheader">{{tr "Migrate Virtual Machine"}}</h3>
    </div>
  </div>
  <div class="reveal-body">
    <form id="{{dialogId}}Form" action="">
      <div id="current_hosts_of_vms" class="row"></div>
      <br>
      <br>
      <div class="row">
        <fieldset>
          <legend>{{tr "Select a Host"}}</legend>
          {{{hostsTableHTML}}}
        </fieldset>
        {{#advancedSection (tr "Advanced Options") }}
        <div class="row">
          <div class="large-6 columns">
            <input type="checkbox" name="enforce" id="enforce"/>
            <label for="vm_id">
              {{tr "Enforce"}}
              <span class="tip">
                {{tr "If it is set to true, the host capacity will be checked. This will only affect oneadmin requests, regular users resize requests will always be enforced"}}
              </span>
            </label>
          </div>
        </div>
        <br>
        <fieldset class="migrate_vm_ds_selection">
          <legend>{{tr "Select a datastore"}}</legend>
          {{{datastoresTableHTML}}}
        </fieldset>
        {{/advancedSection}}
        <div class="form_buttons reveal-footer">
          <div class="form_buttons">
            <button class="button radius right success" id="migrate_vm_proceed" value="VM.migrate">{{tr "Migrate"}}</button>
          </div>
        </div>
        <a class="close-reveal-modal">&#215;</a>
      </form>
    </div>
  </div>