{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}
<div class="row">
  <button type="submit" class="button primary small radius right show_labels" id="update_group">
    <span class= "fas fa-edit"></span>
    {{tr "Edit"}}
  </button>
  <button type="submit" class="button secondary small radius right select_labels" id="cancel_update_group" hidden="true">
    <span class= "fas fa-times-circle"></span>
  </button>
</div>
<form data-abide novalidate id="Form_change_second_grp">
  <div class="row">
    <fieldset style="margin-bottom: 0rem;">
      <legend>{{tr "Primary Group"}}</legend>
          <h6 class="show_labels">{{navigate element.GNAME "groups-tab" element.GID}}</h6>
          <div id="choose_primary_grp" hidden="true" class="select_labels"></div>
    </fieldset>
  </div>
  <div class="row">
      <fieldset>
      <legend>{{tr "Secondary Group"}}</legend>
          <div class="show_labels">
            <div class="large-12 columns show_labels">
              {{{groupsTableHTML}}}
            </div>
          </div>
          <div hidden="true" class="select_labels">
            <div class="large-12 columns">
              {{{groupsTableEditHTML}}}
            </div>
          </div>
    </fieldset>
  </div>
  <div class="confirm-resources-header"></div>
  <div class="form_buttons row" id="submit-group" hidden="true">
    <button type="submit" class="button success radius right">
      {{tr "Apply changes"}}
    </button>
  </div>
</form>