{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}
<form data-abide novalidate id="{{formPanelId}}Wizard" class="custom creation">
  <div class="row">
    <div class="medium-4 columns">
      <label for="NAME">
        {{tr "Name"}}
      </label>
      <input id="NAME" type="text" wizard_field="NAME" required/>
    </div>
    <div class="medium-8 columns">
      <label for="DESCRIPTION">
        {{tr "Description"}}
      </label>
      <textarea id="DESCRIPTION" wizard_field="DESCRIPTION" rows="2"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <label for="MARKET_MAD">{{tr "Storage backend"}}</label>
      <select id="MARKET_MAD" wizard_field="MARKET_MAD" required>
        {{#each marketMadNameList}}
        <option value="{{this.mad}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="medium-8 columns">
    </div>
  </div>
  <br>
  <fieldset>
  <legend>{{tr "Configuration attributes"}}</legend>
      <div class="row">
        {{#each marketMadAttrs}}
        <div class="medium-6 columns market-mad-attr-container {{this.driver}}">
          <label for="{{#if this.id }}{{this.id}}{{else}}{{this.name}}{{/if}}">
            {{this.label}}
            {{#if this.tooltip}} 
              <span class="tip">{{this.tooltip}}</span>
            {{/if}} 
          </label>
          
          <input id="{{#if this.id }}{{this.id}}{{else}}{{this.name}}{{/if}}" type="{{#if this.checkbox}}checkbox{{else}}text{{/if}}" wizard_field="{{this.name}}"/>
          {{#if checkboxLabel}}
            <label for="{{#if this.id }}{{this.id}}{{else}}{{this.name}}{{/if}}">
              {{this.checkboxLabel}}
            </label>
          {{/if}}
        </div>
        {{/each}}
      </div>
  </fieldset>
</form>