{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2016, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<form data-abide="ajax" id="{{formPanelId}}Wizard" class="custom creation">
  <div class="row">
    <div class="medium-4 columns">
      <label for="file_name">
        {{tr "Name"}}
        <span class="tip">
          {{tr "Name that the File will get. Every file must have a unique name."}}
        </span>
      </label>
      <input required type="text" name="file_name" id="file_name" />
    </div>
    <div class="medium-8 columns">
      <label for="file_desc">
        {{tr "Description"}}
        <span class="tip">
          {{tr "Human readable description of the file for other users."}}
        </span>
      </label>
      <textarea name="file_desc" id="file_desc" rows="4"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <label for="file_type">
        {{tr "Type"}}
        <span class="tip">
          {{tr "Type of the file."}}
          <br/>
          <br/>
          {{tr  " KERNEL & RAMDISK files can be used in the OS Booting section of the Template wizard."}}
          <br/>
          <br/>
          {{tr  " CONTEXT files can be included in the context CD-ROM, from the Context/Files section of the Template wizard."}}
        </span>
      </label>
      <select name="file_type" id="file_type">
        <option value="CONTEXT">{{tr "Context"}}</option>
        <option value="KERNEL">{{tr "Kernel"}}</option>
        <option value="RAMDISK">{{tr "Ramdisk"}}</option>
      </select>
    </div>
    <div class="medium-8 columns">
      <label for="file_datastore">
        {{tr "Datastore"}}
        <span class="tip">{{tr "Select the datastore for this file"}}</span>
      </label>
      <div id="file_datastore" name="file_datastore"></div>
    </div>
  </div>
  <br>
  <fieldset>
    <legend>{{tr "Image location"}}:</legend>
    <div class="row" id="src_path_select">
      <div class="large-12 columns text-center">
        <input type="radio" name="src_path" id="path_file" value="path">
          <label for="path_file">{{tr "Provide a path"}}</label>
        </input>
        <input type="radio" name="src_path" id="upload_file" value="upload">
          <label for="upload_file">{{tr "Upload"}}</label>
        </input>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="large-12 columns">
        <label for="file_path">
          {{tr "Path"}}
          <span class="tip">
            {{tr "Path to the original file that will be copied to the file repository."}}
          </span>
        </label>
        <input type="text" name="file_path" id="file_path" />
      </div>
    </div>
    <div class="row">
      <div id="files_file-uploader" class="large-12 columns text-center">
        <label id="files_file-uploader-label" for="files_file-uploader-input"></label>
        <input id="files_file-uploader-input" type="file"/>
      </div>
    </div>
  </fieldset>
</form>
