{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2015, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div id="{{dataTableId}}Container">
  {{! TODO: show also refresh and search box when {info: true} is used in panels}}
  {{#if conf.select}}
  <div class="row">
    <div class="large-8 small-2 columns">
      <a id="refresh_button_{{dataTableId}}" href="#" class="button small radius secondary"> <i class="fa fa-refresh" /></a>
    </div>
    <div class="large-4 small-10 columns">
      <input id="{{dataTableId}}_search" class="search" type="search" placeholder="{{tr "Search"}}"/>
    </div>
  </div>
  {{/if}}
  <table id="{{dataTableId}}" class="datatable twelve">
    <thead>
      <tr>
        <th class="check">
          <input type="checkbox" class="check_all" value=""/>
        </th>
        {{#each columns}}
        <th>{{this}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  {{#if conf.select}}
  <div class="row">
    <div class="large-12 columns" id="selected_ids_row_{{dataTableId}}">
      <label for="selected_resource_id_{{dataTableId}}" id="select_resource_{{dataTableId}}" class="radius secondary label">{{selectOptions.select_resource}}</label>
      <span id="selected_resource_{{dataTableId}}" class="radius secondary label" style="display: none;">{{selectOptions.you_selected}}</span>
      <span id="select_resource_multiple_{{dataTableId}}" class="radius secondary label" style="display: none;">{{selectOptions.select_resource_multiple}}</span>
      <span id="selected_resource_multiple_{{dataTableId}}" class="radius secondary label" style="display: none;">{{selectOptions.you_selected_multiple}}</span>
      <span id="selected_resource_name_{{dataTableId}}" class="radius label" type="text"></span>
      <input id="selected_resource_id_{{dataTableId}}" type="text" style="visibility: hidden; width:0px !important; height:0px !important;padding: 0px !important;margin: 0px !important;display: inline;"/>
    </div>
  </div>
  {{/if}}
</div>
