{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="sunstone-content small-12 large-10 columns">
  <div class="row">
    <div class="small-12 medium-8 columns">
      <ul class="menu provision-header text-center">
        <li>
            <img class="opennebula-img" src="{{logo}}">
        </li>
        <li class="active">
          <a href"#" class="provision_dashboard_button" id=""> <i class="fas fa-lg fa-fw fa-tachometer-alt"/>{{tr "Dashboard"}}
          </a>
        </li>
        <li>
          <a href"#" class="provision_vms_list_button" id=""> <i class="fas fa-lg fa-fw fa-th"/>{{tr "VMs"}}
          </a>
        </li>
        {{#isProvisionTabEnabled "provision-tab" "templates"}}
        <li>
          <a href"#" class="provision_templates_list_button"> <i class="fas fa-lg fa-fw fa-save"/>{{tr "Templates"}}
          </a>
        </li>
        {{/isProvisionTabEnabled}}
          {{#isProvisionTabEnabled "provision-tab" "flows"}}
        <li>
          <a href"#" class="provision_flows_list_button" id="">
            <i class="fas fa-lg fa-fw fa-cubes"/>
            {{tr "Services"}}
          </a>
        </li>
        {{/isProvisionTabEnabled}}
      </ul>

    </div>
    <div class="small-12 medium-4 columns">
      <div class="user-zone-info right">
      </div>
    </div>
  </div>
</div>
