!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %script{:type => "text/javascript", :src  => "/js/jquery-1.7.2.min.js"}
    %script{:type => "text/javascript", :src  => "/js/jquery.dataTables.min.js"}
    %script{:type => "text/javascript", :src  => "/js/bootstrap.min.js"}
    %script{:type => "text/javascript", :src  => "/js/market.js"}
    %link{:rel=>'stylesheet', :href=>'/css/bootstrap.min.css', :type => "text/css"}
    %link{:rel=>'stylesheet', :href=>'/css/market.css', :type => "text/css"}
    %link{:rel=>'stylesheet', :href=>'/css/font-awesome.css', :type => "text/css"}
    %link{:rel => "icon", :type => "image/png", :href => "/favicon.ico"}

  %body
    .container

      .one-h1
        %h1
          = haml :'custom/tittle'

        %span.arrow
        %span.arrow-right

      .one-banner
        = haml :'custom/banner'

      = yield

  %footer
    .container
      .row-fluid
        .span12
          = haml :'custom/logos'

      %hr


      %p.pull-right
        OpenNebula AppMarket 3.6.0 by
        %a{'href' => "http://www.c12g.com/"} C12G Labs.


    .one-footer-black
      .container
        .row-fluid
          .span12
            = haml :'custom/footer'