// ------------------------------------------------------------------------ //
// Copyright 2010-2013, C12G Labs S.L.                                      //
//                                                                          //
// Licensed under the Apache License, Version 2.0 (the "License"); you may  //
// not use this file except in compliance with the License. You may obtain  //
// a copy of the License at                                                 //
//                                                                          //
// http://www.apache.org/licenses/LICENSE-2.0                               //
//                                                                          //
// Unless required by applicable law or agreed to in writing, software      //
// distributed under the License is distributed on an "AS IS" BASIS,        //
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. //
// See the License for the specific language governing permissions and      //
// limitations under the License.                                           //
//------------------------------------------------------------------------- //

!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %script{:type => "text/javascript", :src  => "/js/jquery-1.7.2.min.js"}
    %script{:type => "text/javascript", :src  => "/js/jquery.dataTables.min.js"}
    %script{:type => "text/javascript", :src  => "/js/bootstrap.min.js"}
    %script{:type => "text/javascript", :src  => "/js/market.js"}
    %link{:rel=>'stylesheet', :href=>'/css/bootstrap.min.css', :type => "text/css"}
    %link{:rel=>'stylesheet', :href=>'/css/market.css', :type => "text/css"}
    %link{:rel=>'stylesheet', :href=>'/css/font-awesome.css', :type => "text/css"}
    %link{:rel => "icon", :type => "image/png", :href => "/favicon.ico"}

  %body
    .container

      .one-h1
        %h1
          = haml :'custom/tittle'

        %span.arrow
        %span.arrow-right

      .one-banner
        = haml :'custom/banner'

      = yield

  %footer
    .container
      .row-fluid
        .span12
          = haml :'custom/logos'

      %hr


      %p.pull-right
        OpenNebula AppMarket 3.6.0 by
        %a{'href' => "http://www.c12g.com/"} C12G Labs.


    .one-footer-black
      .container
        .row-fluid
          .span12
            = haml :'custom/footer'