{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2015, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}
<form data-abide="ajax" id="{{formPanelId}}Wizard" class="custom creation">
  <dl id="vnet_create_tabs" class="tabs right-info-tabs text-center" data-tabs>
    <dd class="tabs-title is-active">
      <a href="#vnetCreateGeneralTab"> <i class="fa fa-globe"></i>
        <br>{{tr "General"}}</a>
    </dd>
    <dd class="tabs-title">
      <a href="#vnetCreateBridgeTab"> <i class="fa fa-cog"></i>
        <br>{{tr "Conf"}}</a>
    </dd>
    <dd class="tabs-title">
      <a href="#vnetCreateARTab">
        <i class="fa fa-align-justify"></i>
        <br>{{tr "Addresses"}}</a>
    </dd>
    <dd class="tabs-title">
      <a href="#vnetCreateSecurityTab">
        <i class="fa fa-shield"></i>
        <br>{{tr "Security"}}</a>
    </dd>
    <dd class="tabs-title">
      <a href="#vnetCreateContextTab">
        <i class="fa fa-folder"></i>
        <br>{{tr "Context"}}</a>
    </dd>
  </dl>
  <div id="vnet_create_tabs_content" class="tabs-content" data-tabs-content="vnet_create_tabs">
    <div class="tabs-panel is-active" id="vnetCreateGeneralTab">
      <div class="row">
        <div class="medium-6 columns">
          <label for="name" >
            {{tr "Name"}}:
            <span class="tip">
              {{tr "Name that the Virtual Network will get for description purposes."}}
            </span>
          </label>
          <input type="text" wizard_field="NAME" required name="name" id="name"/>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label for="DESCRIPTION" >
            {{tr "Description"}}:
            <span class="tip">{{tr "Description of the Virtual Network"}}</span>
          </label>
          <textarea type="text" wizard_field="DESCRIPTION" id="DESCRIPTION" name="DESCRIPTION"/>
        </div>
      </div>
    </div>
    <div class="tabs-panel" id="vnetCreateBridgeTab">
      <div class="row">
        <div class="medium-6 columns">
          <label for="bridge">
            {{tr "Bridge"}}:
            <span class="tip">
              {{tr "Name of the physical bridge in the physical host where the VM should connect its network interface"}}
            </span>
          </label>
          <input type="text" wizard_field="BRIDGE" name="bridge" id="bridge" />
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label for="network_mode">
            {{tr "Network model"}}:
            <span class="tip">
              {{tr "The network driver to implement the virtual network"}}
            </span>
          </label>
          <select wizard_field="VN_MAD" name="network_mode" id="network_mode">
            <option value="dummy">{{tr "Default"}}</option>
            <option value="fw">{{tr "Firewall"}}</option>
            <option value="802.1Q">{{tr "802.1Q"}}</option>
            <option value="vxlan">{{tr "VXLAN"}}</option>
            <option value="ebtables">{{tr "ebtables"}}</option>
            <option value="openvswitch">{{tr "Open vSwitch"}}</option>
            <option value="custom">{{tr "Custom"}}</option>
          </select>
        </div>
        <div class="large-3 medium-6 columns">
          <label for="vn_mad">
            {{tr "VN MAD"}}:
            <span class="tip">{{tr "Name of the custom network driver."}}</span>
          </label>
          <input type="text" wizard_field="VN_MAD" name="vn_mad" id="vn_mad" />
        </div>
        <div class="large-12 columns">
          <div class="network_mode_description" value="default">
            {{tr "Default: dummy driver that doesn’t perform any network operation. Firewalling rules are also ignored."}}
          </div>
          <div class="network_mode_description" value="fw">
            {{tr "Firewall: Same as the Default driver but applies Security Group rules."}}
          </div>
          <div class="network_mode_description" value="802.1Q">
            {{tr "802.1Q: restrict network access through VLAN tagging, which also requires support from the hardware switches. Security Group rules are applied."}}
          </div>
          <div class="network_mode_description" value="vxlan">
            {{tr "VXLAN: creates a L2 network overlay based on the VXLAN protocol, each VLAN has associated a multicast address in the 239.0.0.0/8 range. Security Group rules are applied."}}
          </div>
          <div class="network_mode_description" value="ebtables">
            {{tr "ebtables: restrict network access through Ebtables rules. No special hardware configuration required. Security Group rules are applied."}}
          </div>
          <div class="network_mode_description" value="openvswitch">
            {{tr "Open vSwitch: restrict network access with Open vSwitch Virtual Switch. Security Groups are not fully supported in this mode."}}
          </div>
          <div class="network_mode_description" value="custom">
            {{tr "Custom: uses a custom network driver."}}
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="large-6 columns">
          <label for="mac_spoofing">
            <input type="checkbox" wizard_field="FILTER_MAC_SPOOFING" value="YES" name="mac_spoofing" id="mac_spoofing" />
            {{tr "Filter MAC spoofing"}}
            <span class="tip">
              {{tr "Activate the filter to prevent mac spoofing. Only works with FW, 802.1Q, VXLAN and Ebtables network drivers."}}
            </span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label for="ip_spoofing">
            <input type="checkbox" wizard_field="FILTER_IP_SPOOFING" value="YES" name="ip_spoofing" id="ip_spoofing" />
            {{tr "Filter IP spoofing"}}
            <span class="tip">
              {{tr "Activate the filter to prevent IP spoofing. Only works with FW, 802.1Q, VXLAN and Ebtables network drivers."}}
            </span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-3 columns left">
          <label for="vlan_id">
            {{tr "VLAN ID"}}:
            <span class="tip">{{tr "Optional: Set a specific VLAN id"}}</span>
          </label>
          <input type="text" wizard_field="VLAN_ID" name="vlan_id" id="vlan_id" />
        </div>
        <div class="medium-3 columns left">
          <label for="phydev">
            {{tr "Physical device"}}:
            <span class="tip">
              {{tr "Name of the physical network device that will be attached to the bridge"}}
            </span>
          </label>
          <input type="text" wizard_field="PHYDEV" name="phydev" id="phydev" />
        </div>
        <div class="medium-3 columns left">
          <label for="mtu">
            {{tr "MTU"}}:
            <span class="tip">
              {{tr "Set the MTU for the tagged interface. This MTU will be then inherited by the bridge and by the tagged interface."}}
            </span>
          </label>
          <input type="text" wizard_field="MTU" name="mtu" id="mtu" />
        </div>
      </div>
    </div>
    <div class="tabs-panel" id="vnetCreateARTab">
      <div class="row collapse" id="vnetCreateARTabCreate">
        <div class="large-3 columns">
          <ul class="tabs vertical" id="vnet_wizard_ar_tabs" data-tabs></ul>
          <button type="button" class="button small" id="vnet_wizard_ar_btn">
            <span class="fa fa-plus"></span>
            {{tr "Add another Address Range"}}
          </button>
        </div>
        <div class="large-9 columns">
          <div class="tabs-content vertical" id="vnet_wizard_ar_tabs_content" data-tabs-content="vnet_wizard_ar_tabs"></div>
        </div>
      </div>
      <div class="row" id="vnetCreateARTabUpdate">
        <div class="large-12 columns">
          <p>
            {{tr "Address Ranges need to be managed in the individual Virtual Network panel"}}
          </p>
        </div>
      </div>
    </div>
    <div class="tabs-panel" id="vnetCreateSecurityTab">
      {{{securityGroupsTableHTML}}}
      <div class="row" id="default_sg_warning">
        <div class="large-12 columns">
          <span class="radius secondary label">
            <i class="fa fa-warning"/>{{tr "The default Security Group 0 is automatically added to new Virtual Networks"}}
          </span>
        </div>
      </div>
    </div>
    <div class="tabs-panel" id="vnetCreateContextTab">
      <div class="row">
        <div class="medium-6 columns">
          <label for="net_address">
            {{tr "Network address"}}:
            <span class="tip">{{tr "Base network address. For example, 192.168.1.0"}}</span>
          </label>
          <input type="text" wizard_field="NETWORK_ADDRESS" name="net_address" id="net_address" />
        </div>
        <div class="medium-6 columns">
          <label for="net_mask">
            {{tr "Network mask"}}:
            <span class="tip">{{tr "Network mask. For example, 255.255.255.0"}}</span>
          </label>
          <input type="text" wizard_field="NETWORK_MASK" name="net_mask" id="net_mask" />
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label for="net_gateway">
            {{tr "Gateway"}}:
            <span class="tip">
              {{tr "Router for this network. Leave empty if the network is not routable"}}
            </span>
          </label>
          <input type="text" wizard_field="GATEWAY" name="net_gateway" id="net_gateway" />
        </div>
        <div class="medium-6 columns">
          <label for="net_gateway6">
            {{tr "IPv6 Gateway"}}:
            <span class="tip">{{tr "IPv6 Router for this network"}}</span>
          </label>
          <input type="text" wizard_field="GATEWAY6" name="net_gateway6" id="net_gateway6" />
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label for="net_dns">
            {{tr "DNS"}}:
            <span class="tip">{{tr "Specific DNS for this network"}}</span>
          </label>
          <input type="text" wizard_field="DNS" name="net_dns" id="net_dns" />
        </div>
      </div>
      <fieldset>
        <legend>{{tr "Custom attributes"}}</legend>
        {{{customTagsHTML}}}
      </fieldset>
    </div>
  </div>
</form>
