{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<form id="tab_storage_form" vmid="{{element.ID}}" >
  <div class="row">
    <div class="large-12 columns">
      <table class="disks_table no-hover info_table dataTable">
        <thead>
          <tr>
            <th></th>
            <th>{{tr "ID"}}</th>
            <th>{{tr "Target"}}</th>
            <th>{{tr "Image / Size-Format"}}</th>
            <th>{{tr "Size"}}</th>
            <th>{{tr "Persistent"}}</th>
            <th>{{tr "Actions"}}
              {{#isTabActionEnabled "vms-tab" "VM.attachdisk"}}
              <span class="right">
                <button id="attach_disk" class="attach_disk button small success right radius">
                  {{tr "Attach disk"}}
                </button>
              </span>
              {{/isTabActionEnabled}}
            </th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  {{#isFeatureEnabled "showback"}}
  <div class="row">
    <div class="small-12 columns">
      <table>
        <tbody>
          <tr>
            <td class="key_td">{{tr "Cost / MByte"}}</td>
            <td class="value_td">{{diskCost}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {{/isFeatureEnabled}}
</form>
