<form data-abide="ajax" id="{{formPanelId}}Wizard" class="custom creation">
  <fieldset>
    <legend>{{tr "Step 1: Specify a name and the number of instances"}}</legend>
    <div class="row">
      <div class="large-5 columns">
        <label for="create_vm_name">
          {{tr "VM Name"}}
          <span class="tip">
            {{tr "Defaults to template name when emtpy. You can use the wildcard &#37;i. When creating several VMs, &#37;i will be replaced with a different number starting from 0 in each of them"}}.
          </span>
        </label>
        <input type="text" name="create_vm_name" id="create_vm_name" />
      </div>
      <div class="large-4 columns">
        <label for="create_vm_n_times">
          {{tr "Number of instances"}}:
          <span class="tip">
            {{tr "Number of Virtual Machines that will be created using this template"}}.
          </span>
        </label>
        <input type="text" name="create_vm_n_times" id="create_vm_n_times" value="1"></div>
      <div class="large-3 columns">
        <input type="checkbox" name="create_vm_hold" id="create_vm_hold"/>
        <label for="create_vm_hold">
          {{tr "Hold"}}
          <span class="tip">
            {{tr "Sets the new VM to hold state, instead of pending. The scheduler will not deploy VMs in this state. It can be released later, or deployed manually."}}
          </span>
        </label>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>{{tr "Step 2: Select a template"}}</legend>
    {{{templatesTableHTML}}}
  </fieldset>
  <div id="create_vm_inputs_step">
    <fieldset>
      <legend>{{tr "Step 3: Fill the required inputs"}}</legend>
      <div id="create_vm_user_inputs"></div>
    </fieldset>
  </div>
</form>