{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2015, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="row">
  <div class="large-6 columns">
    <table class="dataTable">
      <thead>
        <tr><th colspan="2">{{tr "Information"}}</th></tr>
      </thead>
      <tbody>
        <tr>
          <td class="key_td">{{tr "ID"}}</td>
          <td class="value_td">{{element._id.$oid}}</td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Name"}}</td>
          <td class="value_td">{{htmlDecode element.name}}</td>
        </tr>
        <tr>
          <td class="key_td">{{tr "URL"}}</td>
          <td class="value_td">
            <a href="{{url}}" target="_blank">{{tr "link"}}</a>
          </td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Publisher"}}</td>
          <td class="value_td">{{htmlDecode element.publisher}}</td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Downloads"}}</td>
          <td class="value_td">{{htmlDecode element.downloads}}</td>
        </tr>
        {{#if element.status}}
        <tr>
          <td class="key_td">{{tr "Status"}}</td>
          <td class="value_td">{{htmlDecode element.status}}</td>
        </tr>
        {{/if}}
        {{#if element.tags}}
        <tr>
          <td class="key_td">{{tr "Tags"}}</td>
          <td class="value_td">{{htmlDecode element.tags}}</td>
        </tr>
        {{/if}}
        {{#if element.catalog}}
        <tr>
          <td class="key_td">{{tr "Catalog"}}</td>
          <td class="value_td">{{htmlDecode element.catalog}}</td>
        </tr>
        {{/if}}
        <tr>
          <td class="key_td">{{tr "OS"}}</td>
          <td class="value_td">{{htmlDecode element.os-id}} {{htmlDecode element.os-release}}</td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Arch"}}</td>
          <td class="value_td">{{htmlDecode element.os-arch}}</td>
        </tr>
        {{#if element.files}}
        <tr>
          <td class="key_td">{{tr "Size"}}</td>
          <td class="value_td">{{humanizeSize "B" element.files.[0].size}}</td>
        </tr>
        {{/if}}
        <tr>
          <td class="key_td">{{tr "Hypervisor"}}</td>
          <td class="value_td">{{htmlDecode element.hypervisor}}</td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Format"}}</td>
          <td class="value_td">{{htmlDecode element.format}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="large-6 columns">
    {{#if element.short_description}}
    <table class="dataTable">
      <thead>
        <tr>
          <th colspan="2">{{tr "Short Description"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="value_td" style="white-space: pre-wrap;">
            {{~htmlDecode element.short_description~}}
          </td>
        </tr>
      </tbody>
    </table>
    {{/if}}
    <table class="dataTable">
      <thead>
        <tr>
          <th colspan="2">{{tr "Description"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="value_td" style="white-space: pre-wrap;">
            {{~htmlDecode element.description~}}
          </td>
        </tr>
      </tbody>
    </table>
    <table class="dataTable">
      <thead>
        <tr>
          <th colspan="2">{{tr "Images"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each element.files}}
        <tr>
          <td class="value_td">{{htmlDecode name}}</td>
          <td class="value_td">{{humanizeSize "B" size}}</td>
        </tr>
        {{else}}
        <tr>
          <td colspan="2" class="value_td">{{tr "No Images defined"}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{#if element.opennebula_template}}
    <table class="dataTable">
      <thead>
        <tr>
          <th colspan="2">{{tr "OpenNebula Template"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="value_td"><pre>{{htmlDecode element.opennebula_template}}</pre></td>
        </tr>
      </tbody>
    </table>
    {{/if}}
  </div>
</div>
