{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="row">
  <div class="large-6 columns">
    <table id="info_virtual_router_table" class="dataTable">
      <thead>
        <tr>
          <th colspan="3">{{tr "Information"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="key_td">{{tr "ID"}}</td>
          <td class="value_td" colspan="2">{{element.ID}}</td>
        </tr>
        {{{renameTrHTML}}}
      </tbody>
    </table>
  </div>
  <div class="large-6 columns">
    {{{permissionsTableHTML}}}
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <table class="dataTable">
      <thead>
        <tr>
          <th>{{tr "ID"}}</th>
          <th>{{tr "Network"}}</th>
          <th>{{tr "Floating IP"}}</th>
          <th>{{tr "Floating IPv6 ULA"}}</th>
          <th>{{tr "Floating IPv6 Global"}}</th>
          <th>{{tr "Management Interface"}}</th>
          <th>{{tr "Actions"}}</th>
          <th>
            {{#isTabActionEnabled "vrouters-tab" "VirtualRouter.attachnic"}}
            <button class="attach_nic button small success right radius" >
              {{tr "Attach NIC"}}
            </button>
            {{/isTabActionEnabled}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each nics}}
        <tr>
          <td class="nic_id" nic_id="{{NIC_ID}}">{{NIC_ID}}</td>
          <td>{{{NETWORK}}}</td>
          {{#if VROUTER_IP}}
            <td>{{VROUTER_IP}}</td>
          {{else}}
            <td>{{IP}}</td>
          {{/if}}
          {{#if VROUTER_IP6_LINK}}
            <td>{{VROUTER_IP6_LINK}}</td>
          {{else}}
            <td>{{IP6_ULA}}</td>
          {{/if}}
          <td>{{IP6_GLOBAL}}</td>
          <td>{{VROUTER_MANAGEMENT}}</td>
          <td>
            {{#isTabActionEnabled "vrouters-tab" "VirtualRouter.detachnic"}}
            <a href="VirtualRouter.detachnic" class="detachnic" ><i class="fas fa-times"/>
              {{tr "Detach"}}
            </a>
            {{/isTabActionEnabled}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{#isFeatureEnabled "show_attributes_info"}}
<div class="row">
  <div class="large-9 columns">
    {{{templateTableHTML}}}
  </div>
</div>
{{/isFeatureEnabled}}