{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div id="{{dialogId}}" class="reveal large" data-reveal>
  <div class="row">
    <h3 class="subheader">{{tr "Restore Backup"}}</h3>
  </div>
  <div class="confirm-resources-header"></div>
  <form id="{{dialogId}}Form" action="" class="custom creation">
    <div class="row">
      <fieldset>
        <legend>{{tr "Attributes to restore"}}</legend>
        <div class="columns medium-6">
          <input type="checkbox" id="restore_no_nic" name="restore_no_nic">
          <label for="restore_no_nic">{{tr "Do not restore NIC attributes"}}</label>
        </div>
        <div class="columns medium-6">
          <input type="checkbox" id="restore_no_ip" name="restore_no_ip">
          <label for="restore_no_ip">{{tr "Do not restore IP attributes"}}</label>
        </div>
        <div class="columns medium-6">
          <label for="restore_name">{{tr "Name"}}</label>
          <input type="text" id="restore_name" name="restore_name">
        </div>
        <div class="columns medium-6">
          <label for="restore_increment_id">{{tr "Increment ID"}}</label>
          <input type="text" id="restore_increment_id" name="restore_increment_id">
        </div>
      </fieldset>
    </div>
    <div class="row">
      <fieldset>
        <legend>{{tr "Datastore to restore"}}</legend>
          <div class="columns large-12">
            {{{datastoreTableSelectHTML}}}
          </div>
        </fieldset>
    </div>
    <div class="form_buttons row">
      <button class="button radius right" id="backup_restore_button" value="Backup.restore">{{tr "Restore"}}</button>
    </div>
    <button class="close-button" data-close aria-label="{{tr "Close modal"}}" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </form>
</div>
