{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2016, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div id="create_vm_group_form_wrapper">
  <form data-abide novalidate id="{{formPanelId}}Wizard" class="custom creation">
    <div class="row">
      <div class="medium-4 columns">
        <label for="vm_group_name">{{tr "Name"}}</label>
        <input required type="text" name="vm_group_name" id="vm_group_name"/>
      </div>
    </div>
    <div class="row">
	    <div class="service_template_param st_man large-12 columns">
	      <label  for="vm_group_description">
	        {{tr "Description"}}
	      </label>
	      <textarea type="text" id="vm_group_description" name="vm_group_description"/>
	    </div>
	  </div>
	  <br>
	  <div class="row">
	    <div class="large-12 columns">
	      <h5>
	        {{tr "Roles"}}
	        <a class="button small radius" id="tf_btn_roles" style="vertical-align: text-top; margin-left: 1em;">
	          <i class="fa fa-lg fa-plus-circle"></i>
	        </a>
	      </h5>
	    </div>
	  </div>
	  <div class="row">
	    <div id="new_role" class="large-12 columns">
	      <ul class="tabs" id="roles_tabs" data-tabs>
	      </ul>
	      <div class="tabs-content" id="roles_tabs_content" data-tabs-content="roles_tabs">
	      </div>
	    </div>
	  </div>
	  <br/>

	  <div class="row">
	    <div class="large-12 columns">
	      <h5>
	        {{tr "Affinity"}}
	      </h5>
	    </div>
	  </div>

	  <div class="row">
	  	<div class="medium-5 columns">
	    	<div class="select_role" style="height: 12em; width: 90%; overflow: auto;">
	    		<input id="cheese" type="checkbox" name="ingredients[]" value="Cheese" />
				<label for="cheese">Cheese</label>
				<br />
				<input id="olives" type="checkbox" name="ingredients[]" value="Olives" />
				<label for="olives">Olives</label>
				<br />
				<input id="pepperoni" type="checkbox" name="ingredients[]" value="Pepperoni" />
				<label for="pepperoni">Pepperoni</label>
				<br />
				<input id="anchovies" type="checkbox" name="ingredients[]" value="Anchovies" />
				<label for="anchovies">Anchovies</label>
				<br />
				<input id="anchovies" type="checkbox" name="ingredients[]" value="Anchovies" />
				<label for="anchovies">Anchovies</label>
				<br />
				<input id="anchovies" type="checkbox" name="ingredients[]" value="Anchovies" />
				<label for="anchovies">Anchovies</label>
				<br />
				<input id="anchovies" type="checkbox" name="ingredients[]" value="Anchovies" />
				<label for="anchovies">Anchovies</label>
	    	</div>
	    </div>

	    <div class="medium-2 columns">
	    	<div class="type_affined">
	    		<select name="affinity">
		            <option value="12">Affined</option>
		            <option value="13">Anti Affined</option>
		        </select>
	    		<a id="2" class="button medium radius" id="tf_btn_roles" style="vertical-align: text-top; width: 90%; margin-left: 1em;">
		          <i class="fa fa-lg fa-arrow-right"></i>
		        </a>
	    	</div>
	    </div>

	    <div class="medium-5 columns">
	    	<div class="selected_roles" style="height: 12em; width: 100%; overflow: auto;">
	    		<a id="2" class="button alert small radius" id="tf_btn_roles" style="vertical-align: text-top; width: 90%; margin-left: 1em;">
		          <i class="fa fa-lg fa-times-circle"><label for="2">Roles</label></i>
		        </a>
		        
		        <br/>
		        <a id="2" class="button success small radius" id="tf_btn_roles" style="vertical-align: text-top; width: 90%; margin-left: 1em;">
		          <i class="fa fa-lg fa-times-circle"><label for="2">Roles</label></i>
		        </a>
		        
		        <br/>
		        <a id="2" class="button success small radius" id="tf_btn_roles" style="vertical-align: text-top; width: 90%; margin-left: 1em;">
		          <i class="fa fa-lg fa-times-circle"><label for="2">Roles</label></i>
		        </a>
		        <br/>
		        <a id="2" class="button alert small radius" id="tf_btn_roles" style="vertical-align: text-top; width: 90%; margin-left: 1em;">
		          <i class="fa fa-lg fa-times-circle"><label for="2">Roles</label></i>
		        </a>
		        <br/>
	    	</div>
	    </div>
	  </div>
	  <br/>
   </form>
</div>
