{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div id="{{dialogId}}" class="reveal" data-reveal>
  <div class="row">
    <div class="large-12 columns">
      <h3 id="create_zone_header" class="subheader">{{tr "Create Zone"}}</h3>
    </div>
  </div>
  <form id="{{dialogId}}Form" action="">
    <div class="row">
      <div class="large-12 columns">
        <label for="zonename">{{tr "Zone Name"}}</label>
        <input type="text" name="zonename" id="zonename" />
      </div>
    </div>
    <div class="row centered">
      <div class="large-12 columns">
        <label for="endpoint">{{tr "Endpoint"}}</label>
        <input type="text" name="endpoint" id="endpoint" />
      </div>
    </div>
    <div class="form_buttons">
      <button class="button radius right success" id="create_zone_submit" value="zone/create">{{tr "Create"}}</button>
    </div>
    <button class="close-button" data-close aria-label="{{tr "Close modal"}}" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </form>
</div>
