{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<tr class='tr_action_{{id}}' data='{{action}}'>
    <td class='id_row'>{{id}}</td>
    <td nowrap class='action_row'>{{name}}</td>
    <td nowrap class='time_row'>
        <span data-tooltip class="top" tabindex="2" title="{{time_date}}">
            {{time}}
        </span>
    </td>
    <td nowrap class='rep_row'>{{rep_str}}</td>
    <td nowrap class='end_row'>{{end_str}}</td>
    <td nowrap class='done_row'>{{done_str}}</td>
    <td class='message_row'>{{message_str}}</td>
    {{#if canEditOrDelete}}
    <td colspan='3' style='text-align: right;'>
        <div style='display: flex;justify-content: flex-end;'>
            {{#if canDelete}}
            <div>
                <button id='minus' class='small button btn-danger remove_action_x' data_id='{{id}}'>
                    <i class='fas fa-trash-alt'></i>
                </button>
            </div>
            {{/if}}
            {{#if canEdit}}
            <div>
                <button id='edit' class='small button btn-warning edit_action_x' data_id='{{id}}'>
                    <i class='fas fa-edit'></i>
                </button>
            </div>
            {{/if}}
        </div>
    </td>
    {{/if}}
</tr>