{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="row">
  <div class="large-6 columns">
    <table class="dataTable">
      <thead>
        <tr>
          <th colspan="3">{{tr "Information"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="key_td" colspan="2"><img src="{{element.USER_TEMPLATE.LOGO}}"></td>
        </tr>
        <tr>
          <td class="key_td">{{tr "ID"}}</td>
          <td class="value_td" colspan="2">{{element.ID}}</td>
        </tr>
        {{{renameTrHTML}}}
        <tr>
          <td class="key_td">{{tr "State"}}</td>
          <td id="state_value" class="value_td">
            {{#if stateClass}}
              <span class="label {{stateClass}} round" style="border-radius: 1em; font-weight: bold;">
                <div>{{stateStr}}</div>
              </span>
            {{else}}
              {{stateStr}}
            {{/if}}
          </td>
          <td></td>
        </tr>
        <tr>
          <td class="key_td">{{tr "LCM State"}}</td>
          <td id="lcm_state_value" class="value_td">
            {{#if stateClass}}
              {{lcmStateStr}}
            {{else}}
              <span class="label {{lcmStateClass}} round" style="border-radius: 1em; font-weight: bold;">
                {{lcmStateStr}}
              </span>
            {{/if}}
          </td>
          <td></td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Host"}}</td>
          <td class="value_td">{{{hostnameHTML}}}</td>
          <td></td>
        </tr>

        <tr>
          <td class="key_td">{{tr "IP"}}</td>
          <td class="value_td">{{{IP}}}</td>
          <td></td>
        </tr>

        {{#if sshWithPortForwarding}}
          <tr>
            <td class="key_td">{{tr "Port forwarding"}}</td>
            <td class="value_td">{{{sshWithPortForwarding}}}</td>
            <td></td>
          </tr>
        {{/if}}

        <tr>
          <td class="key_td">{{tr "Start time"}}</td>
          <td class="value_td">{{prettyStartTime}}</td>
          <td></td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Deploy ID"}}</td>
          <td class="value_td">{{deployId}}</td>
          <td></td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Reschedule"}}</td>
          <td class="value_td">{{resched}}</td>
          <td></td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Virtual Router"}}</td>
          <td class="value_td">
            {{{vrouterHTML}}}
          </td>
          <td></td>
        </tr>
      </tr>
    </tbody>
  </table>
</div>
<div class="large-6 columns">{{{permissionsTableHTML}}}</div>
</div>
{{#isFeatureEnabled "show_attributes_info"}}
  <div class="row vcenter">
  <div class="large-9 columns">{{{templateTableVcenterHTML}}}</div>
  </div>
  <div class="row">
  <div class="large-9 columns">{{{templateTableHTML}}}</div>
  </div>
{{/isFeatureEnabled}}
{{#isFeatureEnabled "show_monitoring_info"}}
  {{#if monitoringTableContentHTML}}
    <div class="row">
    <div class="large-9 columns">
      <table class="dataTable fixed">
        <thead>
          <tr>
            <th colspan="2">{{tr "Monitoring"}}</th>
          </tr>
        </thead>
        <tbody>
          {{{monitoringTableContentHTML}}}
        </tbody>
      </table>
    </div>
    </div>
  {{/if}}
{{/isFeatureEnabled}}
