{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2016, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div id="{{dialogId}}" class="reveal full" data-reveal>
  <div class="row text-center">
    <div class="large-12 columns">
      <h5 class="subheader" id="vnc_dialog">
        {{tr "VNC"}}
        <span id="VNC_status">{{tr "Loading"}}</span>
        <span id="VNC_buttons" class="right">
          <button class="button secondary" value="Send CtrlAltDel" id="sendCtrlAltDelButton">{{tr "Send CtrlAltDel"}}</button>
          <a class="button" id="open_in_a_new_window" href="" target="_blank" title="{{tr "Open in a new window"}}">
            <i class="fa fa-external-link detach-vnc-icon"/>
          </a>
          <button class="button alert" data-close aria-label="{{tr "Close modal"}}" type="button">
            <i class="fa fa-times-circle"></i>
          </button>
        </span>
      </h5>
    </div>
  </div>
  <div class="reveal-body text-center" style="width:100%; overflow-x:auto">
    <canvas id="VNC_canvas" width="640px">{{tr "Canvas not supported."}}</canvas>
    <div id="VNC_status_bar" class="VNC_status_bar"></div>
  </div>
</div>