<div id="{{dialogId}}" class="reveal-modal large max-height" style="width:auto; max-width:70%" data-reveal >
  <div class="row">
    <div class="large-12 columns">
      <h3 class="subheader" id="vnc_dialog">
        {{tr "VNC"}}
        <span id="VNC_status">{{tr "Loading"}}</span>
        <a id="open_in_a_new_window" href="" target="_blank" title="{{tr "Open in a new window"}}"> <i class="fa fa-external-link detach-vnc-icon"/></a>
        <span id="VNC_buttons" class="right">
          <input type="button" value="Send CtrlAltDel" id="sendCtrlAltDelButton"></span>
      </h3>
    </div>
  </div>
  <div class="reveal-body" style="width:100%; overflow-x:overlay">
    <canvas id="VNC_canvas" width="640px">{{tr "Canvas not supported."}}</canvas>
    <div id="VNC_status_bar" class="VNC_status_bar"></div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>