{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="row">
  <div class="large-6 columns">
    <table id="info_vnet_table" class="dataTable">
      <thead>
        <tr>
          <th colspan="3">{{tr "Information"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="key_td">{{tr "ID"}}</td>
          <td class="value_td">{{element.ID}}</td>
          <td></td>
        </tr>
        {{{renameTrHTML}}}
        {{{reservationTrHTML}}}
        <tr>
          <td class="key_td">{{tr "State"}}</td>
          <td class="value_td">{{stateStr}}</td>
          <td></td>
        </tr>
        <tr>
          <td class="key_td">{{tr "VLAN ID"}}</td>
          <td class="value_td">{{valOrDefault element.VLAN_ID "--"}}</td>
          <td></td>
        </tr>
        <tr>
          <td class="key_td">{{tr "AUTO VLAN ID"}}</td>
          <td class="value_td">{{autoVlanID}}</td>
          <td></td>
        </tr>
        <tr>
          <td class="key_td">{{tr "OUTER VLAN ID"}}</td>
          <td class="value_td">{{valOrDefault element.OUTER_VLAN_ID "--"}}</td>
          <td></td>
        </tr>
        <tr>
          <td class="key_td">{{tr "AUTO OUTER VLAN ID"}}</td>
          <td class="value_td">{{autoOuterVlanID}}</td>
          <td></td>
        </tr>
      <tbody>
    </table>
  </div>
  <div class="large-6 columns">
    {{{permissionsTableHTML}}}
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    <table class="dataTable">
      <thead>
        <tr>
          <th colspan="3">{{tr "Inbound QoS"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="key_td">{{tr "Average bandwidth"}}</td>
          <td class="value_td">{{valOrDefault element.TEMPLATE.INBOUND_AVG_BW "--"}}
          <td class="value_td">{{tr "KBytes/s"}}</td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Peak bandwidth"}}</td>
          <td class="value_td">{{valOrDefault element.TEMPLATE.INBOUND_PEAK_BW "--"}}
          <td class="value_td">{{tr "KBytes/s"}}</td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Peak burst"}}</td>
          <td class="value_td">{{valOrDefault element.TEMPLATE.INBOUND_PEAK_KB "--"}}
          <td class="value_td">{{tr "KBytes"}}</td>
        </tr>
      <tbody>
    </table>
  </div>
  <div class="medium-6 columns">
    <table class="dataTable">
      <thead>
        <tr>
          <th colspan="3">{{tr "Outbound QoS"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="key_td">{{tr "Average bandwidth"}}</td>
          <td class="value_td">{{valOrDefault element.TEMPLATE.OUTBOUND_AVG_BW "--"}}
          <td class="value_td">{{tr "KBytes/s"}}</td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Peak bandwidth"}}</td>
          <td class="value_td">{{valOrDefault element.TEMPLATE.OUTBOUND_PEAK_BW "--"}}
          <td class="value_td">{{tr "KBytes/s"}}</td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Peak burst"}}</td>
          <td class="value_td">{{valOrDefault element.TEMPLATE.OUTBOUND_PEAK_KB "--"}}
          <td class="value_td">{{tr "KBytes/s"}}</td>
        </tr>
      <tbody>
    </table>
  </div>
</div>
<div class="row vcenter">
  <div class="large-9 columns">
    {{{templateTableVcenterHTML}}}
  </div>
</div>
<div class="row">
  <div class="large-9 columns">
    {{{templateTableHTML}}}
  </div>
</div>
