    <div class="row">
      <div class="large-11 large-centered columns">
        <h3 class="subheader">
          {{tr "Users"}}
        </h3>
        <br>
      </div>
    </div>
    <div class="row" id="provision_users_dashboard">
      <div class="large-12 large-centered columns">
          <div class="row">
            <div class="large-4 columns text-center">
              <br>
              <div class="row">
                <div class="large-12 columns">
                  <span  id="provision_dashboard_users_total" style="font-size:80px">
                    <i class="fa fa-spinner fa-spin"></i>
                  </span>
                  <br>
                  <span style="color: #999;">{{tr "TOTAL"}}</span>
                </div>
              </div>
              <br>
              <br>
              <div class="row">
                <div class="large-12 columns">
                  <a href"#" class="medium button large success radius provision_create_user_button" style="margin-left: 5px; margin-right: 5px"><i class="fa fa-lg fa-plus-square"/></a>
                  <a href"#" class="medium button large radius provision_users_list_button" style="margin-left: 5px; margin-right: 5px"><i class="fa fa-lg fa-users"/></a>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="large-12 columns">
                </div>
              </div>
            </div>
            <div class="large-8 columns" id="dashboard_vdc_user_accounting">
              <input style="display:none;" value="user" id="acct_group_by"/>
              <div class="row">
                <div class="large-12 columns graph_legend">
                  <h3 class="subheader"><small>{{tr "CPU hours"}}</small></h3>
                </div>
                <div class="large-12 columns">
                  <div class="large-12 columns centered graph text-center" id="acct_cpu_graph" style="height: 100px;">
                    {{> ./empty-graphs}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns graph_legend">
                  <h3 class="subheader"><small>{{tr "Memory GB hours"}}</small></h3>
                </div>
                <div class="large-12 columns">
                  <div class="large-12 columns centered graph text-center" id="acct_mem_graph" style="height: 100px;">
                    {{> ./empty-graphs}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns graph_legend">
                  <h3 class="subheader"><small>{{tr "Disk MB hours"}}</small></h3>
                </div>
                <div class="large-12 columns">
                  <div class="large-12 columns centered graph text-center" id="acct_disk_graph" style="height: 100px;">
                    {{> ./empty-graphs}}
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <br>
    <br>
