<dd class="accordion-item" data-accordion-item>
  <a href="#provision_accordion_dd_{{provision_nic_accordion_dd_id}}" class="accordion-title">
    <i class="only-not-active fa fa-chevron-down"/>
    <i class="only-active fa fa-chevron-up"/>
    &nbsp;{{tr "Interface"}}&nbsp;
    <span class="selected_network">
      {{#if options.nic}}
        {{#if options.nic.NETWORK}}
        {{options.nic.NETWORK}}
        {{else}}
        {{options.nic.NETWORK_ID}}
        {{/if}}
      {{else}}
      <span class="label secondary">{{tr "Select a Network"}} </span>
      {{/if}}
    </span>
    <i class="right fa fa-times-circle remove-tab provision_remove_nic"></i>
  </a>
  <div id="provision_accordion_dd_{{provision_nic_accordion_dd_id}}" class="accordion-content nic-section-entry" data-tab-content>
    <div class="row collapse">
      {{{vnetsTableHTML}}}
    </div>
    <div class="row">
      {{#if options.forceIPv4}}
        <div class="medium-6 columns">
          <label>
            {{tr "Force IPv4:"}}
            <span class="tip">
              {{tr "Optionally, you can force the IP assigned to the network interface."}}
            </span>
            {{#if options.nic.IP}}
            <input type="text" class="manual_ip4" value="{{options.nic.IP}}"/>
            {{else}}
            <input type="text" class="manual_ip4"/>
            {{/if}}
          </label>
        </div>
      {{/if}}
      {{#if options.floatingIP}}
      <div class="medium-6 columns">
        <label class="inline">
          <input type="checkbox" class="floating_ip" />
          {{tr "Floating IP"}}
          <span class="tip">
            {{tr "If checked, each Virtual Machine will have a floating IP added to its network interface."}}
          </span>
        </label>
      </div>
      {{/if}}
      {{#if options.management}}
      <div class="medium-6 columns">
        <label>
          <input type="checkbox" class="management" />
          {{tr "Management Interface"}}
          <span class="tip">
            {{tr "If checked, this network interface will be a Virtual Router management interface. Traffic will not be forwarded."}}
          </span>
        </label>
      </div>
      {{/if}}
    </div>
    {{#if options.securityGroups}}
    <div class="row collapse">
      <h6>
        {{tr "Security Groups"}}&nbsp;
        <span class="tip">
          {{tr "You can add Security Groups to this network interface. These IDs do not overwrite the ones defined in the Virtual Network. All the Security Group IDs are combined, and applied to the Virtual Machine instance."}}
        </span>
      </h6>
      {{{securityGroupsTableHTML}}}
    </div>
    {{/if}}
  </div>
</dd>