{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}


<fieldset>
  <legend>
    <ul class="menu simple">
      <li>
        {{title}}
      </li>
      {{#if clearImported}}
      <li>
        <button class="button small secondary clear_imported">
          {{clearImported}}
        </button>
      </li>
      {{/if}}
    </ul>
  </legend>
  <div class="row">
    <div class="large-8 columns text-center">
      <p>
        <span class="vcenter-table-header-text">
        </span>
        <a class="vcenter-table-select-all">
        </a>
        <a class="vcenter-table-deselect-all">
          {{tr "Clear selection"}}
        </a>
        {{#if toggleAdvanced}}
        &emsp;|&emsp;
        <a class="vcenter-table-toggle-advanced">
          {{tr "Toggle advanced sections"}}
        </a>
        {{/if}}
      </p>
    </div>
    <div class="large-4 columns text-center">
      <input class="search vcenter-table-search" type="search" placeholder="Search"/>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <table class="dataTable vcenter_import_table
      {{#unless toggleAdvanced}}
      hover
      {{/unless}}" id="{{tableId}}">
        <thead>
          {{#each columns}}
          <th>{{{this}}}</th>
          {{/each}}
        </thead>
        <tbody/>
      </table>
    </div>
  </div>
</fieldset>