<div class="row">
  <div class="large-6 columns">
    <table class="dataTable">
      <thead>
        <tr>
          <th colspan="3">{{tr "Information"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="key_td">{{tr "ID"}}</td>
          <td class="value_td" colspan="2">{{element.ID}}</td>
        </tr>
        {{{renameTrHTML}}}
        {{{clusterTrHTML}}}
        <tr>
          <td class="key_td">{{tr "State"}}</td>
          <td class="value_td">{{stateStr}}</td>
          <td></td>
        </tr>
        <tr>
          <td class="key_td">{{tr "IM MAD"}}</td>
          <td class="value_td">{{element.IM_MAD}}</td>
          <td></td>
        </tr>
        <tr>
          <td class="key_td">{{tr "VM MAD"}}</td>
          <td class="value_td">{{element.VM_MAD}}</td>
          <td></td>
        </tr>
        <tr>
          <td class="key_td">{{tr "VN MAD"}}</td>
          <td class="value_td">{{element.VN_MAD}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="large-6 columns">
    <table class="dataTable">
      <thead>
        <tr>
          <th colspan="3">{{tr "Capacity"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="key_td">{{tr "Allocated Memory"}}</td>
          <td class="value_td" colspan="2" style="width:50%;">{{{memoryBars.allocated}}}</td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Allocated CPU"}}</td>
          <td class="value_td" colspan="2" style="width:50%;">{{{cpuBars.allocated}}}</td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Real Memory"}}</td>
          <td class="value_td" colspan="2" style="width:50%;">{{{memoryBars.real}}}</td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Real CPU"}}</td>
          <td class="value_td" colspan="2" style="width:50%;">{{{cpuBars.real}}}</td>
        </tr>
      </tbody>
    </table>
    {{{datastoresCapacityTableHTML}}}
  </div>
</div>
<div class="row">
  <div class="large-9 columns">{{{templateTableHTML}}}</div>
</div>