<table id="{{dataTableId}}" class="datatable twelve">
  <thead>
    <tr>
      <th class="check">
        <input type="checkbox" class="check_all" value=""/>
      </th>
      <th>{{tr "ID"}}</th>
      <th>{{tr "Owner"}}</th>
      <th>{{tr "Group"}}</th>
      <th>{{tr "Name"}}</th>
      <th>{{tr "Capacity"}}</th>
      <th>{{tr "Cluster"}}</th>
      <th>{{tr "Basepath"}}</th>
      <th>{{tr "TM MAD"}}</th>
      <th>{{tr "DS MAD"}}</th>
      <th>{{tr "Type"}}</th>
      <th>{{tr "Status"}}</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>