<div class="row">
  <div class="small-12 columns">
    <label>
      {{tr "Name"}}
      <input search-field="NAME" type="text" list="{{tableId}}-searchListNAME"/>
      <datalist search-datalist="NAME" id="{{tableId}}-searchListNAME">
      </datalist>
    </label>
    <label>
      {{tr "Cluster"}}
      <input search-field="CLUSTER" type="text" list="{{tableId}}-searchListCLUSTER"/>
      <datalist search-datalist="CLUSTER" id="{{tableId}}-searchListCLUSTER">
      </datalist>
    </label>
    <label>
      {{tr "Status"}}
      <input search-field="STATE" type="text" list="{{tableId}}-searchListSTATE"/>
      <datalist search-datalist="STATE" id="{{tableId}}-searchListSTATE">
      </datalist>
    </label>
    <label>
      {{tr "IM MAD"}}
      <input search-field="IM_MAD" type="text" list="{{tableId}}-searchListIM_MAD"/>
      <datalist search-datalist="IM_MAD" id="{{tableId}}-searchListIM_MAD">
      </datalist>
    </label>
    <label>
      {{tr "VM MAD"}}
      <input search-field="VM_MAD" type="text" list="{{tableId}}-VM_MAD"/>
      <datalist search-datalist="VM_MAD" id="{{tableId}}-VM_MAD">
      </datalist>
    </label>
  </div>
</div>