{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2015, OpenNebula Project (OpenNebula.org), C12G Labs        }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<form data-abide="ajax" id="{{formPanelId}}Wizard" class="custom creation">
  <div class="bordered-tabs">
    <dl id="template_create_tabs" class="tabs right-info-tabs text-center" data-tab>
      {{#each wizardTabs}}
      <dd class='{{classes}}'>
        <a href='#{{wizardTabId}}'> <i class='fa {{icon}}'></i>
          <br>{{title}}</a>
      </dd>
      {{/each}}
    </dl>
    <div id="template_create_tabs_content" class="tabs-content" style="min-height: 300px">
      {{#each wizardTabs}}
        <div id="{{wizardTabId}}" class="wizard_tab content">
          {{{contentHTML}}}
        </div>
      {{/each}}
    </div>
  </div>
</form>
