<div class="row">
  <div class="large-6 columns">
    <table class="dataTable">
      <thead>
        <tr>
          <th colspan="3">{{tr "Information"}}</th>
        </tr>
      </thead>
      <tbody>
       <tr>
        <td class="key_td">{{tr "ID"}}</td>
        <td class="value_td">{{element.ID}}</td>
        <td></td>
      </tr>
      {{{renameTrHTML}}}
    </tbody>
  </table>
</div>
</div>
<div class="row">
  <div class="large-9 columns">
    {{{templateTableHTML}}}
  </div>
</div>