{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

{{#if empty}}
<tr>
    <td>{{tr "Disks and NICs will appear here"}}</td>
</tr>
{{else}}
<tr value="{{value}}">
    <td><input type="checkbox"/></td>
    <td>{{value}}</td>
    <td>
        <label>
            <i class="fas fa-fw fa-lg {{label_class}}"></i>
            {{label}}
        </label>
    </td>
    <td>
        <button class="boot-order-instantiate-provision-up button radius tiny secondary">
            <i class="fas fa-lg fa-arrow-up" aria-hidden="true"/>
        </button>
        <button class="boot-order-instantiate-provision-down button radius tiny secondary">
            <i class="fas fa-lg fa-arrow-down" aria-hidden="true"/>
        </button>
    </td>
</tr>
{{/if}}