{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}
<dl class="accordion accordion_list provision_list_vms" data-accordion>
  <dd class="{{#if opts.active}}is-active{{/if}} accordion-item" data-accordion-item>
    <a href="#provision_list_vm_accordion{{accordionId}}" class="provision_back only-not-active accordion-title right">
      <span class="button"> <i class="fas fa-fw fa-lg fa-th"/><i class="fas fa-fw fa-lg fa-chevron-left"/>
      </span>
    </a>
    <h4>
      <a href"#" class="only-active provision_vms_list_refresh_button" 
                {{#unless opts.refresh}}hidden{{/unless}} title=" {{tr "Refresh"}}">
        <i class="fas fa-fw fa-sync-alt"/>
      </a>
      <a href"#" class="only-not-active provision_refresh_info" 
                {{#unless opts.refresh}}hidden{{/unless}} title=" {{tr "Refresh"}}">
        <i class="fas fa-fw fa-sync-alt"/>
      </a>
      <span class="only-active">{{opts.title}}</span>
      <span class="provision_info_vm_name only-not-active"></span>
      {{#isTabActionEnabled "provision-tab" "VM.rename"}}
      <small class="provision_info_vm_rename only-not-active">
        <a href="#">
          <i class="fas fa-pencil-alt"/></a>
      </small>
      {{/isTabActionEnabled}}
      <span class="right only-active provision_list_vms_filter"></span>
      <input type="search" class="right only-active provision_list_vms_search provision-search-input " placeholder="Search VMs"/>
      {{#if opts.create}}
      <span href"#" class="right only-active button success provision_create_vm_button">
        <i class="fas fa-fw fa-lg fa-plus-square"/>
      </span>
      {{/if}}
    </h4>
    <div id="provision_list_vm_accordion{{accordionId}}" class="accordion-content" data-tab-content>
      <div class="row">
        <div class="large-12 large-centered columns">
          <table class="provision_vms_table">
            <thead hidden>
              <tr>
                <th>{{tr "ID"}}</th>
                <th>{{tr "Name"}}</th>
                <th>{{tr "User ID"}}</th>
              </tr>
            </thead>
            <tbody hidden></tbody>
          </table>
        </div>
      </div>
    </div>
  </dd>
  <dd class="accordion-item" data-accordion-item>
    <a class="provision_show_vm_accordion accordion-title" href="#provision_show_vm_accordion{{accordionId}}"></a>
    <div id="provision_show_vm_accordion{{accordionId}}" class="accordion-content" data-tab-content>{{> tabs/provision-tab/vms/html/info}}</div>
  </dd>
</dl>