{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

{{#if instantiate}}
    {{#if tableID}}
    <div id="{{tableID}}_ul" class="row large-up-4 medium-up-3 small-up-1"></div>
    {{else}}
    <div class="text-center">
        <span class="fa-stack fa-5x">
            <i class="fas fa-cloud fa-stack-2x"/>
            <i class="fas fa-info-circle fa-stack-1x fa-inverse"/>
        </span>
        <br>
        <br>
        <span>{{tr "There are no templates available"}}</span>
    </div>
    {{/if}}
{{else}}
    <div class="column">
        <ul class="provision-pricing-table only-one hoverable menu vertical text-center" opennebula_id="{{id}}">
            <li class="provision-title" title="{{name}}">
                <a href="">{{name}}</a>
            </li>
            <li class="provision-bullet-item">{{{logo}}}</li>
            <li class="provision-bullet-item">{{description}}</li>
            <li class="provision-bullet-item-last text-left">
                <span>
                    <i class="fas fa-fw fa-lg fa-user"/> 
                    {{owner}}
                </span>
            </li>
        </ul>
    </div>
{{/if}}