<form>
  <h4>{{tr "Role"}} - {{role.name}}</h4>
  <div class='large-12 columns'>
    <table class='dataTable extended_table policies_table'>
      <thead>
        <tr>
          <th colspan='8'>{{tr "Information"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class='key_td'>{{tr "Shutdown action"}}</td>
          <td class='value_td'>{{valOrDefault role.shutdown_action "-"}}</td>
          <td class='key_td'>{{tr "Cooldown"}}</td>
          <td class='value_td'>{{valOrDefault role.cooldown "-"}}</td>
          <td class='key_td'>{{tr "Min VMs"}}</td>
          <td class='value_td'>{{valOrDefault role.min_vms "-"}}</td>
          <td class='key_td'>{{tr "Max VMs"}}</td>
          <td class='value_td'>{{valOrDefault role.max_vms "-"}}</td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
  {{#if servicePanel}}
  <fieldset>
    <legend>{{tr "Virtual Machines"}}</legend>
    <div id="role_vms_actions">
      <div class="action_blocks large-12 columns">
      </div>
    </div>
    <div class="large-12 columns">
      <br>
      <table id="datatable_vms_{{panelId}}_{{role.name}}" class="dataTable twelve ">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th class="check">
              <input type="checkbox" class="check_all" value=""></input>
            </th>
            {{#each vmsTableColumns}}
            <th>{{this}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each vms}}
          <tr>
            {{#each this}}
            <td>{{{this}}}</td>
            {{/each}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </fieldset>
  {{/if}}
  <div class='large-12 columns'>
    <br>
    {{#if role.elasticity_policies}}
    <table class="dataTable extended_table policies_table">
      <thead style="background:#dfdfdf">
        <tr>
          <th colspan="7">{{tr "Elasticity policies"}}</th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th class="has-tip" title="{{tr "Type of adjustment."}}<br><br>
            {{tr "CHANGE: Add/substract the given number of VMs."}}<br>
            {{tr "CARDINALITY: Set the cardinality to the given number."}}<br>
            {{tr "PERCENTAGE_CHANGE: Add/substract the given percentage to the current cardinality."}}
            " style="width:14%">{{tr "Type"}}
          </th>
          <th class="has-tip" title="{{tr "Positive or negative adjustment. Its meaning depends on 'type'"}}<br><br>
            {{tr "CHANGE: -2, will substract 2 VMs from the role"}}<br>
            {{tr "CARDINALITY: 8, will set carditanilty to 8"}}<br>
            {{tr "PERCENTAGE_CHANGE: 20, will increment cardinality by 20%"}}" style="width:12%">{{tr "Adjust"}}
          </th>
          <th class="has-tip" title="{{tr "Optional parameter for PERCENTAGE_CHANGE adjustment type."}}<br>
            {{tr " If present, the policy will change the cardinality by at least the number of VMs set in this attribute."}}" style="width:9%">{{tr "Min"}}
          </th>
          <th class="has-tip" title="{{tr "Expression to trigger the elasticity"}}<br><br>
            {{tr "Example: ATT < 20"}}" style="width:30%">{{tr "Expression"}}
          </th>
          <th class="has-tip" title="{{tr "Number of periods that the expression must be true before the elasticity is triggered"}}" style="width:8%">#
          </th>
          <th class="has-tip" title="{{tr "Duration, in seconds, of each period in '# Periods'"}}" style="width:9%">{{tr "Period"}}
          </th>
          <th class="has-tip" title="{{tr "Cooldown period duration after a scale operation, in seconds"}}" style="width:15%">{{tr "Cooldown"}}
          </th>
          <th style="width:3%"></th>
        </tr>
      </thead>
      <tbody>
        {{#each role.elasticity_policies}}
        <tr>
          <td>{{type}}</td>
          <td>{{adjust}}</td>
          <td>{{valOrDefault min_adjust_step "-"}}</td>
          <td>{{valOrDefault expression_evaluated this.expression}}</td>
          <td>
            {{#if period_number}}
            {{#if ../../servicePanel}}
            {{valOrDefault true_evals "0"}}/{{period_number}}
            {{else}}
            {{period_number}}
            {{/if}}
            {{else}}
            -
            {{/if}}
          </td>
          <td>{{valOrDefault period "-"}}</td>
          <td>{{valOrDefault cooldown "-"}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/if}}
    <br>
    {{#if role.scheduled_policies}}
    <table class="dataTable extended_table policies_table">
      <thead style="background:#dfdfdf">
        <tr>
          <th colspan="5">{{tr "Scheduled policies"}}</th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th class="has-tip" title="{{tr "Type of adjustment."}}
            {{tr "CHANGE: Add/substract the given number of VMs."}}
            {{tr "CARDINALITY: Set the cardinality to the given number."}}
            {{tr "PERCENTAGE_CHANGE: Add/substract the given percentage to the current cardinality."}}" style="width:14%">{{tr "Type"}}
          </th>
          <th class="has-tip" title="{{tr "Positive or negative adjustment. Its meaning depends on 'type'"}}
            {{tr "CHANGE: -2, will substract 2 VMs from the role"}}
            {{tr "CARDINALITY: 8, will set carditanilty to 8"}}
            {{tr "PERCENTAGE_CHANGE: 20, will increment cardinality by 20%"}}" style="width:12%">{{tr "Adjust"}}
          </th>
          <th class="has-tip" title="{{tr "Optional parameter for PERCENTAGE_CHANGE adjustment type. If present, the policy will change the cardinality by at least the number of VMs set in this attribute."}}" style="width:9%">{{tr "Min"}}
          </th>
          <th class="has-tip" title="{{tr "Recurrence: Time for recurring adjustements. Time is specified with the Unix cron syntax"}}
            {{tr "Start time: Exact time for the adjustement"}}" style="width:28%">{{tr "Time format"}}
          </th>
          <th class="has-tip" title="{{tr "Time expression depends on the the time formar selected"}}
            {{tr "Recurrence: Time for recurring adjustements. Time is specified with the Unix cron syntax"}}
            {{tr "Start time: Exact time for the adjustement"}}" style="width:33%">{{tr "Time expression"}}
          </th>
          <th style="width:3%"></th>
        </tr>
      </thead>
      <tbody>
        {{#each role.scheduled_policies}}
        <tr>
          <td>{{type}}</td>
          <td>{{adjust}}</td>
          <td>{{valOrDefault min_adjust_step "-"}}</td>
          {{#if start_time}}
          <td>{{tr "Start time"}}</td>
          <td>{{start_time}}</td>
          {{else}}
          {{#if recurrence}}
          <td>{{tr "Recurrence"}}</td>
          <td>{{recurrence}}</td>
          {{/if}}
          {{/if}}
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/if}}
  </div>
</form>