{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div>
  <fieldset class="large-font dashboard-fieldset">
    <div class="row small-12 medium-12 columns">
      <div class="small-6 medium-8 columns dashboard-div-titles">
        <h5>{{tr "Hosts"}}</h5>
      </div>
      <div class="small-6 medium-4 columns dashboard-div-buttons">
        <button class="button radius tiny show_hosts_tab"> <i class="fas fa-lg fa-list fa-fw"></i></button>
        <button class="button success radius tiny show_create_host"> <i class="fas fa-lg fa-plus fa-fw"></i></button>
      </div>
    </div>
    <div class="row" style="display:flex;align-items:center;">
      <div class="small-12 medium-6 columns">
        <div class="hidden" id="dashboard_host_allocated_cpu"></div>
        <div class="hidden" id="dashboard_host_allocated_mem"></div>
      </div>
      <div class="small-12 medium-6 columns">
        <div class="card small-12 medium-4 columns">
          <h3 class="on_hosts fadeinout success-color number-title">0</h3>
          <span class="small-12 medium-12 columns label-card" title="{{tr 'MONITORED'}}">
            {{tr "MONITORED"}}
          </span>
        </div>
        <div class="card small-12 medium-4 columns">
            <h3 class="off_hosts fadeinout warning-color number-title">0</h3>
            <span class="small-12 medium-12 columns label-card" title="{{tr 'DISABLED'}}">
              {{tr "DISABLED"}}
            </span>
        </div>
        <div class="card small-12 medium-4 columns">
            <h3 class="error_hosts fadeinout alert-color number-title">0</h3>
            <span class="small-12 medium-12 columns label-card" title="{{tr 'FAILED'}}">
              {{tr "FAILED"}}
            </span>
        </div>
      </div>
    </div>
  </fieldset>
</div>
