<div class="row totals-info">
  <div class="small-12 medium-6 large-3 columns">
    <div class="small-12 large-12 columns text-center">
      <h2 class="subheader">
        <small>{{tr "VMs"}}</small>
        <br>
        <span class="subheader total_vms"></span>
        <small><i class="fa fa-fw fa-th"></i></small>
      </h2>
    </div>
    <div class="small-4 large-4 columns text-center">
      <h5 class="subheader">
        <span class="subheader active_vms success-color"></span>
        <br>
        <small class="success-color">{{tr "ACTIVE"}}</small>
      </h5>
    </div>
    <div class="small-4 large-4 columns text-center">
      <h5 class="subheader">
        <span class="subheader pending_vms"></span>
        <br>
        <small>{{tr "PENDING"}}</small>
      </h5>
    </div>
    <div class="small-4 large-4 columns text-center">
      <h5 class="subheader">
        <span class="subheader failed_vms alert-color"></span>
        <br>
        <small class="alert-color">{{tr "FAILED"}}</small>
      </h5>
    </div>
    <div class="small-12 large-12 columns text-center" style="margin-top: 20px">
      <a class="button secondary radius small show_vms_tab"> <i class="fa fa-lg fa-list fa-fw"></i>
      </a>
      <a class="button secondary radius small show_create_vm">
        <i class="fa fa-lg fa-plus fa-fw"></i></a>
      <br>
    </div>
  </div>
  <div class="large-9 medium-6 small-12 columns text-center" id="dashboard_vm_accounting">
    <input style="display:none;" value="vm" id="acct_group_by"/>
    <div class="small-12 large-6 columns">
      <h4 class="subheader">
        <small>{{tr "CPU hours"}}</small>
      </h4>
      <div class="large-12 columns centered graph text-center" id="acct_cpu_graph" style="height: 180px;">{{> ./empty-graph}}</div>
    </div>
    <div class="small-12 large-6 columns">
      <h4 class="subheader">
        <small>{{tr "Memory GB hours"}}</small>
      </h4>
      <div class="large-12 columns centered graph text-center" id="acct_mem_graph" style="height: 180px;">{{> ./empty-graph}}</div>
    </div>
  </div>
</div>
<div class="row dashboard-widget-footer">
  <div class="small-3 large-3 columns text-center"></div>
</div>