{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="row name_row">
  <div class="large-12 columns">
    <label for="username">{{tr "Username"}}</label>
    <input required type="text" autocomplete="username" name="username" id="{{idPrefix}}_username" />
  </div>
</div>
<div class="row password_row">
  <div class="large-12 columns">
    <label for="pass">{{tr "Password"}}</label>
    <input required type="password" autocomplete="new-password" name="pass" id="{{idPrefix}}_pass" />
  </div>
  <div class="large-12 columns">
    <label for="confirm_password">{{tr "Confirm Password"}}</label>
    <input data-equalto="{{idPrefix}}_pass" autocomplete="new-password" type="password" name="confirm_password" id="{{idPrefix}}_confirm_password" />
    <small class="form-error">{{tr "Passwords do not match"}}</small>
  </div>
</div>
<div class="row auth_driver_row">
  <div class="large-12 columns">
    <label id="label_auth" for="driver">{{tr "Authentication"}}</label>
    <select name="driver" id="{{idPrefix}}_driver">
      <option value="core" selected="selected">{{tr "core"}}</option>
      <option value="public">{{tr "public"}}</option>
      {{#each authMadNameList}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
      <option value="custom">{{tr "custom"}}</option>
    </select>
    <div>
      <input type="text" id="{{idPrefix}}_custom_auth" name="custom_auth" />
    </div>
  </div>
</div>
<div class="row main_group_row">
  <div class="large-12 columns">
    <label>
      {{tr "Main Group"}}
      <div class="main_group_div">
      </div>
    </label>
  </div>
</div>
<div class="row secondary_groups_row">
  <div class="large-12 columns">
    <br/>
    <label>
      {{tr "Secondary Groups"}}
    </label>
    <br/>
    {{{groupsTableHTML}}}
  </div>
</div>