<div class="row">
  <div class="large-12 columns">
    <label for="username">{{tr "Username"}}</label>
    <input required type="text" name="username" id="username" />
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <label for="pass">{{tr "Password"}}</label>
    <input required type="password" name="pass" id="pass" />
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <label for="driver">{{tr "Authentication"}}</label>
    <select name="driver" id="driver">
      <option value="core" selected="selected">{{tr "Core"}}</option>
      <option value="ssh">{{tr "SSH"}}</option>
      <option value="x509">{{tr "x509"}}</option>
      <option value="ldap">{{tr "LDAP"}}</option>
      <option value="public">{{tr "Public"}}</option>
      <option value="custom">{{tr "Custom"}}</option>
    </select>
    <div>
      <input type="text" id="custom_auth" name="custom_auth" />
    </div>
  </div>
</div>