{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2015, OpenNebula Project (OpenNebula.org), C12G Labs        }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<form id="provision_create_user" class="hidden section_content">
  <div class="row">
    <div class="large-10 large-centered columns">
      <h2 class="subheader">{{tr "Create User"}}</h2>
      <br></div>
  </div>
  <div class="row">
    <div class="large-8 large-centered columns">
      <input type="text" id="username"  class="provision-input" placeholder="{{tr "Username"}}" style="height: 40px !important; font-size: 16px; padding: 0.5rem  !important;"/>
      <br></div>
  </div>
  <div class="row">
    <div class="large-8 large-centered columns">
      <input type="password" id="password"  class="provision-input" placeholder="{{tr "Password"}}" style="height: 40px !important; font-size: 16px; padding: 0.5rem  !important;"/>
      <br></div>
  </div>
  <div class="row">
    <div class="large-8 large-centered columns">
      <input type="password" id="repeat_password"  class="provision-input" placeholder="{{tr "Repeat Password"}}" style="height: 40px !important; font-size: 16px; padding: 0.5rem  !important;"/>
      <br></div>
  </div>
  <div class="row">
    <div class="large-10 large-centered columns">
      <h3 class="subheader text-right">
        <span class="left">{{tr "Define Quotas"}}</span>
      </h3>
      <br></div>
  </div>
  <br>
  <div class="row">
    <div class="large-8 large-centered columns">
      <dl class="tabs text-center" data-tab style="width: 100%">
        <dd class="active" style="width: 50%;">
          <a href="#provision_create_user_default_quota">{{tr "Default"}}</a>
        </dd>
        <dd style="width: 50%;">
          <a href="#provision_create_user_manual_quota">{{tr "Manual"}}</a>
        </dd>
      </dl>
      <div class="tabs-content">
        <div class="content active" id="provision_create_user_default_quota">
          <div class="row">
            <div class="large-12 large-centered columns">
              <span style="font-size: 18px; color: #999">
                {{tr "Use the default system quotas set by the cloud adminstrator"}}
              </span>
            </div>
          </div>
        </div>
        <div class="content" id="provision_create_user_manual_quota">{{> tabs/provision-tab/users/quota-widget/html}}</div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="large-5 large-centered columns">
      <hr>
      <br></div>
  </div>
  <div class="row">
    <div class="large-7 columns large-centered">
      <div data-alert class="alert-box alert-box-error radius text-center hidden"></div>
      <button href="#" class="button large radius large-12 small-12" type="submit">{{tr "Add User"}}</button>
    </div>
  </div>
  <br></form>
