<dl class="accordion accordion_list provision_list_users" data-accordion>
  <dd class="active accordion-navigation">
    <a href="#provision_list_user_accordion{{accordionId}}" class="provision_back right only-not-active">
      <span class="button small radius"> <i class="fa fa-fw fa-lg fa-th"/><i class="fa fa-fw fa-lg fa-chevron-left"/>
      </span>
    </a>
    <h3 class="subheader">
      {{!tr "Users"}}
      <span class="provision_info_vdc_user_name only-not-active"></span>
      <span href"#" class="right only-active provision_users_list_refresh_button button small radius secondary" title="{{tr "Refresh"}}">
        <i class="fa fa-fw fa-lg fa-refresh"/></span>
      <span href"#" class="right only-not-active provision_refresh_info button small radius secondary" title="{{tr "Refresh"}}">
        <i class="fa fa-fw fa-lg fa-refresh"/>
      </span>
      <input type="search" class="provision_list_users_search provision-search-input only-active" placeholder="Search Users"/>
      <span href"#" class="right only-active provision_create_user_button button small radius success">
        <i class="fa fa-fw fa-lg fa-plus-square"/>
      </span>
    </h3>
    <div id="provision_list_user_accordion{{accordionId}}" class="content active">
      <div class="row">
        <div class="large-12 large-centered columns">
          <table class="provision_users_table">
            <thead class="hidden">
              <tr>
                <th>{{tr "ID"}}</th>
                <th>{{tr "Name"}}</th>
              </tr>
            </thead>
            <tbody class="hidden"></tbody>
          </table>
          <br></div>
      </div>
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a class="provision_show_user_accordion" href="#provision_show_user_accordion{{accordionId}}"></a>
    <div id="provision_show_user_accordion{{accordionId}}" class="content">{{> tabs/provision-tab/users/info}}</div>
  </dd>
</dl>