{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<tr>
  <td style="vertical-align: top">
    <input type="checkbox" class="check_item" style="margin-top: 5px"/>
  </td>
  <td>
    <span class="hidden">{{data.sunstone_template_name}}</span>
    <div class="accordion_advanced vcenter_row">
      <div class="row">
        <div class="large-12 columns">
          <label class="inline">
            <a href="#{{data.vcenter_ref}}Advanced" class="accordion_advanced_toggle"> <i class="fas fa-fw fa-chevron-down"/><i class="fas fa-fw fa-chevron-up"/>
            </a>
            {{data.sunstone_template_name}}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-11 large-centered columns">
          <div id="{{data.vcenter_ref}}Advanced" class="content" hidden>
            {{#if resourcePool}}
            <div class="vcenter_rp_input row" style="margin-left: 11px">
              <div class="medium-4 columns">
                <label>
                  {{tr "Type"}}
                  <select class="modify_rp" id="modify_rp_{{id}}">
                    <option value="default">{{tr "Default"}}</option>
                    <option value="fixed">{{tr "Fixed"}}</option>
                    <option value="list">{{tr "Provide on instantiation"}}</option>
                  </select>
                </label>
              </div>
              <div class="medium-5 columns end" id="div_rp_{{id}}" hidden>
                <label>
                  {{tr "Available Resource Pools"}}
                  <span class="tip">
                    {{tr "Use ctrl key for multiple selection (provide on instantiation)."}}
                  </span>
                  <select required style="height: 60px" size="5" class="available_rps" id="available_rps_{{id}}">
                    {{#each resourcePool.params}}
                      <option value="{{this}}" selected>{{this}}</option>
                    {{/each}}
                  </select>
                </label>
              </div>
            </div>
            {{/if}}
            <div class="row vcenter_rp_input">
              <div class="large-12 large-centered columns" style="margin-top: 20px;margin-left: 11px">
                <div class="medium-4 columns" id="folder_{{id}}">
                  <label>
                    {{tr "Folder"}}
                    <input type="text" class="folder" id="folder_{{id}}"/>
                  </label>
                </div>
                <div class="medium-4 columns left" id="name_{{id}}" hidden>
                  <label>
                    {{tr "Template name"}}
                    <input type="text" class="template_name" id="template_name_{{id}}"/>
                  </label>
                </div>
              </div>
            </div>
            <div class="row vcenter_rp_input">
              <div class="large-12 large-centered columns" style="margin-top: 20px;margin-left: 11px">
                <div class="medium-2 columns">
                  <label>
                    {{tr "Linked clone"}}
                    <input type="checkbox" class="linked_clone" id="linked_clone_{{id}}"/>
                  </label>
                </div>
                <div class="medium-2 columns left div_create" id="create_{{id}}" hidden>
                  <label>
                    {{tr "Create copy"}}
                    <input type="checkbox" class="create_copy" id="create_copy_{{id}}"/>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </td>
  <td>
    <span class="vcenter_import_result"></span>
  </td>
</tr>