<tr>
  <td>
    <label>{{tr "Name"}}
      <input class="user_input_name" type="text" pattern="[\\w]+"/>
      <small class="error">{{tr "Only word characters are allowed"}}</small>
    </label>
  </td>
  <td>
    <label>{{tr "Type"}}
      <select class="user_input_type" >
        <option value="text">         {{tr "text"}}            </option>
        <option value="text64">       {{tr "text (base64)"}}   </option>
        <option value="password">     {{tr "password"}}        </option>
        <option value="number">       {{tr "number"}}          </option>
        <option value="number-float"> {{tr "number (float)"}}  </option>
        <option value="range">        {{tr "range"}}           </option>
        <option value="range-float">  {{tr "range (float)"}}   </option>
        <option value="list">         {{tr "list"}}            </option>
      </select>
    </label>
  </td>
  <td>
    <label>{{tr "Description"}}
      <textarea class="user_input_description"/>
    </label>
    <div class="user_input_type_right number number-float">
      <label class="user_input_opt">{{tr "Default value"}}
        <input type=text class="user_input_initial" placeholder="42"/>
      </label>
    </div>
    <div class="user_input_type_right range range-float">
      <label class="user_input_opt">{{tr "Options"}}
        <input type=text class="user_input_params" placeholder="2..16"/>
      </label>
      <label class="user_input_opt">{{tr "Default value"}}
        <input type=text class="user_input_initial" placeholder="8"/>
      </label>
    </div>
    <div class="user_input_type_right list">
      <label class="user_input_opt">{{tr "Options"}}
        <input type=text class="user_input_params" placeholder="optA,optB,optC"/>
      </label>
      <label class="user_input_opt">{{tr "Default value"}}
        <input type=text class="user_input_initial" placeholder="optB"/>
      </label>
    </div>
  </td>
  <td>
    </br>
    <a href="#"><i class="fa fa-times-circle remove-tab"></i></a>
  </td>
</tr>