{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<form data-abide novalidate id="{{formPanelId}}Wizard" class="custom creation">
  <div class="row">
    <div class="large-12 large-centered columns selectTemplateTable">
    </div>
  </div>
  <div class="row persistentContainer">
    <div class="large-12 large-centered columns">
      {{#isFeatureEnabled "instantiate_persistent"}}
      <div class="switch left">
        <input class="switch-input instantiate_pers" id="{{formPanelId}}instantiate_pers" type="checkbox">
        <label class="switch-paddle" for="{{formPanelId}}instantiate_pers">
        </label>
      </div>
      <label class="left">
        &nbsp;&nbsp;
        {{tr "Instantiate as persistent"}}
        {{{tip (tr "Creates a private persistent copy of the template plus any image defined in DISK, and instantiates that copy")}}}
      </label>
       {{/isFeatureEnabled}}
    </div>
  </div>
  <div class="row nameContainer">
    <div class="medium-4 columns">
      {{#isTabActionEnabled "vms-tab" "VM.instantiate_name"}}
      <label for="vm_name">
        {{tr "VM name"}}
        <span class="tip">
          {{tr "Defaults to 'template name-<vmid>' when empty. When creating several VMs, the wildcard %i will be replaced with a number starting from 0"}}.
        </span>
      </label>
      <input type="text" name="vm_name" id="vm_name" />
      {{/isTabActionEnabled}}
    </div>
    <div class="medium-4 columns">
      <label for="vm_n_times">
        {{tr "Number of instances"}}
      </label>
      <input type="number" name="vm_n_times" id="vm_n_times" value="1" min="1">
      <input type="number" name="vm_n_times_disabled" id="vm_n_times_disabled" value="1" disabled>
    </div>
    <div class="medium-4 columns">
      {{#isTabActionEnabled "vms-tab" "VM.hold"}}
      <label>
        <input type="checkbox" name="hold" id="hold"/>
        {{tr "Start on hold"}}
        <span class="tip">
          {{tr "Sets the new VM to hold state, instead of pending. The scheduler will not deploy VMs in this state. It can be released later, or deployed manually."}}
        </span>
      </label>
      {{/isTabActionEnabled}}
    </div>
  </div>
  <div class="row">
    <div class="large-12 large-centered columns list_of_templates">
      <span class="fa-stack fa-5x">
        <i class="fas fa-cloud fa-stack-2x"></i>
        <i class="fa  fa-spinner fa-spin fa-stack-1x fa-inverse"></i>
      </span>
    </div>
  </div>
</form>
