{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2015, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}
<div id="tabs-bootos" class="row collapse">
  <div class="medium-2 columns">
    <ul class="tabs vertical" id="osTabs" data-tabs>
      <li class="tabs-title is-active">
        <a href="#bootTab{{uniqueId}}">{{tr "Boot"}}</a>
      </li>
      <li class="tabs-title">
        <a href="#kernelTab{{uniqueId}}">{{tr "Kernel"}}</a>
      </li>
      <li class="tabs-title">
        <a href="#ramdiskTab{{uniqueId}}">{{tr "Ramdisk"}}</a>
      </li>
      <li class="tabs-title">
        <a href="#featuresTab{{uniqueId}}">{{tr "Features"}}</a>
      </li>
    </ul>
  </div>
  <div class="medium-10 columns">
    <div class="tabs-content vertical" data-tabs-content="osTabs">
      <div class="wizard_internal_tab is-active tabs-panel bootTab" id="bootTab{{uniqueId}}">
        <div class="row">
          <div class="medium-4 columns">
            <label for="ARCH">
              {{tr "Arch"}}
            {{{tip (tr "CPU architecture to virtualization")}}}
            </label>
            <select wizard_field="ARCH" id="ARCH" name="arch">
              <option id="no_arch" name="no_arch" value=""></option>
              <option value="i686">i686</option>
              <option value="x86_64">x86_64</option>
            </select>
          </div>
          <div class="medium-8 columns hypervisor only_kvm">
            <label for="MACHINE">
              {{tr "Machine type"}}
            {{{tip (tr "libvirt machine type, only for KVM")}}}
            </label>
            <input type="text" wizard_field="MACHINE" id="MACHINE" name="machine" />
          </div>
        </div>
        <div class="row">
          <div class="medium-4 columns">
            <label for="ROOT">
              {{tr "Root"}}
            {{{tip (tr "Device to be mounted as root")}}}
            </label>
            <input type="text" wizard_field="ROOT" id="ROOT" name="root"/>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="medium-4 columns">
            <label for="BOOT_0">
              {{tr "1st Boot"}}
            {{{tip (tr "1st Boot device type")}}}
            </label>
            <select id="BOOT_0" name="boot">
              <option id="no_boot" name="no_boot" value=""></option>
              <option value="hd">{{tr "HD"}}</option>
              <option value="fd">{{tr "FD"}}</option>
              <option value="cdrom">{{tr "CDROM"}}</option>
              <option value="network">{{tr "NETWORK"}}</option>
            </select>
          </div>
          <div class="medium-4 columns">
            <label for="BOOT_1">
              {{tr "2nd Boot"}}
            {{{tip (tr "2nd Boot device type")}}}
            </label>
            <select id="BOOT_1" name="boot">
              <option id="no_boot" name="no_boot" value=""></option>
              <option value="hd">{{tr "HD"}}</option>
              <option value="fd">{{tr "FD"}}</option>
              <option value="cdrom">{{tr "CDROM"}}</option>
              <option value="network">{{tr "NETWORK"}}</option>
            </select>
          </div>
          <div class="medium-4 columns">
            <label for="BOOT_2">
              {{tr "3rd Boot"}}
            {{{tip (tr "3rd Boot device type")}}}
            </label>
            <select id="BOOT_2" name="boot">
              <option id="no_boot" name="no_boot" value=""></option>
              <option value="hd">{{tr "HD"}}</option>
              <option value="fd">{{tr "FD"}}</option>
              <option value="cdrom">{{tr "CDROM"}}</option>
              <option value="network">{{tr "NETWORK"}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label for="KERNEL_CMD">
              {{tr "Kernel cmd"}}
            {{{tip (tr "Arguments for the booting kernel")}}}
            </label>
            <input type="text" wizard_field="KERNEL_CMD" id="KERNEL_CMD" name="kernel_cmd" />
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label for="BOOTLOADER">
              {{tr "Bootloader"}}
            {{{tip (tr "Path to the bootloader executable")}}}
            </label>
            <input type="text" wizard_field="BOOTLOADER" id="BOOTLOADER" name="bootloader" />
          </div>
        </div>
      </div>
      <div id="kernelTab{{uniqueId}}" class="wizard_internal_tab tabs-panel kernelTab">
        <div class="row">
          <div class="large-12 columns text-center">
            <input id="radioKernelDs" type="radio" name="kernel_type" value="kernel_ds" checked/>
            <label for="radioKernelDs">{{tr "Registered Image"}}</label>
            <input id="radioKernelPath" type="radio" name="kernel_type" value="kernel_path"/>
            <label for="radioKernelPath">{{tr "Remote PATH"}}</label>
          </div>
        </div>
        <br>
        <div class="kernel_ds">
          {{{kernelFilesTableHTML}}}
          <div id="kernel_ds_inputs" class="row">
            <div class="large-12 columns">
              <label for="KERNEL_DS">{{tr "KERNEL_DS"}}</label>
              <input type="text" wizard_field="KERNEL_DS" id="KERNEL_DS" name="KERNEL_DS"/>
            </div>
          </div>
        </div>
        <div id="kernel_path_inputs" class="kernel_path row" hidden>
          <div class="large-12 columns">
            <label for="KERNEL">
              {{tr "PATH"}}
            {{{tip (tr "Path to the OS kernel to boot the image")}}}
            </label>
            <input type="text" wizard_field="KERNEL" id="KERNEL" name="kernel" />
          </div>
        </div>
      </div>
      <div id="ramdiskTab{{uniqueId}}" class="wizard_internal_tab tabs-panel ramdiskTab">
        <div class="row">
          <div class="large-12 columns text-center">
            <input id="radioInintrdDs" type="radio" name="initrd_type" value="initrd_ds" checked>
            <label for="radioInintrdDs">{{tr "Registered Image "}}</label>
            <input id="radioInitrdPath" type="radio" name="initrd_type" value="initrd_path">
            <label for="radioInitrdPath">{{tr "Remote PATH"}}</label>
          </div>
        </div>
        <br>
        <div class="initrd_ds">
          {{{initrdFilesTableHTML}}}
          <div class="row">
            <div class="large-12 columns">
              <label for="INITRD_DS">{{tr "INITRD_DS"}}</label>
              <input type="text" wizard_field="INITRD_DS" id="INITRD_DS" name="initrd_id"/>
            </div>
          </div>
        </div>
        <div id="initrd_path_inputs" class="initrd_path" hidden>
          <div class="row">
            <div class="large-12 columns">
              <label for="INITRD">
                {{tr "PATH"}}
              {{{tip (tr "Path to the initrd image")}}}
              </label>
              <input type="text" wizard_field="INITRD" id="INITRD" name="initrd"/>
            </div>
          </div>
        </div>
      </div>
      <div class="wizard_internal_tab tabs-panel featuresTab" id="featuresTab{{uniqueId}}">
        <div class="row">
          <div class="medium-6 columns">
            <label for="ACPI">
              {{tr "ACPI"}}
            {{{tip (tr "Add support in the VM for Advanced Configuration and Power Interface (ACPI)")}}}
            </label>
            <select wizard_field="ACPI" id="ACPI" name="acpi">
              <option id="no_apci" name="no_apci" value=""></option>
              <option value="yes">{{tr "Yes"}}</option>
              <option value="no">{{tr "No"}}</option>
            </select>
          </div>
          <div class="medium-6 columns">
            <label for="PAE">
              {{tr "PAE"}}
            {{{tip (tr "Add support in the VM for Physical Address Extension (PAE)")}}}
            </label>
            <select wizard_field="PAE" id="PAE" name="pae">
              <option id="no_pae" name="no_pae" value=""></option>
              <option value="yes">{{tr "Yes"}}</option>
              <option value="no">{{tr "No"}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="medium-6 columns">
            <label for="APIC">
              {{tr "APIC"}}
            {{{tip (tr "Enables the advanced programmable IRQ management.")}}}
            </label>
            <select wizard_field="APIC" id="APIC" name="apic">
              <option id="no_apic" name="no_apic" value=""></option>
              <option value="yes">{{tr "Yes"}}</option>
              <option value="no">{{tr "No"}}</option>
            </select>
          </div>
          <div class="medium-6 columns">
            <label for="HYPERV">
              {{tr "HYPERV"}}
            {{{tip (tr "Add support in the VM for hyper-v features (HYPERV)")}}}
            </label>
            <select wizard_field="HYPERV" id="HYPERV" name="hyperv">
              <option id="no_hyperv" name="no_hyperv" value=""></option>
              <option value="yes">{{tr "Yes"}}</option>
              <option value="no">{{tr "No"}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="medium-6 columns">
            <label for="LOCALTIME">
              {{tr "Localtime"}}
            {{{tip (tr "The guest clock will be synchronized to the hosts configured timezone when booted.")}}}
            </label>
            <select wizard_field="LOCALTIME" id="LOCALTIME" name="localtime">
              <option id="no_localtime" name="no_localtime" value=""></option>
              <option value="yes">{{tr "Yes"}}</option>
              <option value="no">{{tr "No"}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
