<div id="{{dialogId}}" class="reveal-modal large" role="dialog" data-reveal >
  <div class="row">
    <h3 class="subheader">{{tr "Clone Image"}}</h3>
  </div>
  <form id="{{dialogId}}Form" action="" class="custom creation">
    <div class="row">
      <div class="columns large-12">
        <label class="clone_one">{{tr "Name"}}:</label>
        <label class="clone_several">
          {{tr "Several images are selected, please choose a prefix to name the new copies"}}:
        </label>
        <input type="text" name="image_clone_name"/>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <dl class="accordion" id="image_clone_advanced_toggle" data-accordion>
          <dd class="accordion-navigation">
            <a href="#image_clone_advanced">{{tr "Advanced options"}}</a>
          </dd>
        </dl>
        <div id="image_clone_advanced" class="row collapse content">
          <br>
          <div class="large-12 columns">
            <span>{{tr "You can select a different target datastore"}}</span>
            <br/>
            <br/>
          </div>
          {{{datastoreTableSelect}}}
        </div>
      </div>
    </div>
    <div class="form_buttons row">
      <button class="button radius right" id="image_clone_button" value="Image.clone">{{tr "Clone"}}</button>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </form>
</div>