{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2022, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<thead>
  <tr>
    <th colspan="4" style="width:130px">{{tr "Backups"}}</th>
  </tr>
</thead>
<tr>
  <td class="key_td">{{tr "Frequency"}}</td>
  <td colspan="3" id="value_td_backup_frequency">{{valOrDefault element.USER_TEMPLATE.BACKUP.FREQUENCY_SECONDS "-"}}</td>
</tr>
<tr>
  <td class="key_td">{{tr "Marketplace ID"}}</td>
  <td colspan="3" id="value_td_backup_frequency">
    {{#if element.USER_TEMPLATE.BACKUP.MARKETPLACE_ID}}
      {{navigate element.USER_TEMPLATE.BACKUP.MARKETPLACE_ID 'marketplaces-tab' element.USER_TEMPLATE.BACKUP.MARKETPLACE_ID}}
    {{else}}
      -
    {{/if}}
  </td>
</tr>
<tr>
  <td class="key_td">{{tr "Backup last copy time"}}</td>
  <td colspan="3" id="value_td_backup_last">{{valOrDefault last_backup "-"}}</td>
</tr>
<tr>
  <td class="key_td">{{tr "Backup marketplace app IDs"}}</td>
  <td colspan="3" id="value_td_backup_mpapp">{{valOrDefault element.USER_TEMPLATE.BACKUP.MARKETPLACE_APP_IDS "-"}}</td>
</tr>
