<table  class="{{resourceType}}_permissions_table dataTable">
  {{{permissionsHTML}}}
  <thead>
    <tr>
      <th colspan="4" style="width:130px">{{tr "Ownership"}}</th>
    </tr>
  </thead>
  {{{ownerHTML}}}
  {{{groupHTML}}}
</table>