{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<thead>
  <tr>
    <th style="width:130px">{{tr "Permissions"}}</th>
    <th style="width:40px;text-align:center;">{{tr "Use"}}</th>
    <th style="width:40px;text-align:center;">{{tr "Manage"}}</th>
    <th style="width:40px;text-align:center;">{{tr "Admin"}}</th>
  </tr>
</thead>
<tr>
  <td class="key_td">{{tr "Owner"}}</td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check owner_u" />
  </td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check owner_m" />
  </td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check owner_a" />
  </td>
</tr>
<tr>
  <td class="key_td">{{tr "Group"}}</td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check group_u" />
  </td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check group_m" />
  </td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check group_a" />
  </td>
</tr>
<tr>
  <td class="key_td">{{tr "Other"}}</td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check other_u" />
  </td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check other_m" />
  </td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check other_a" />
  </td>
</tr>
