<thead>
  <tr>
    <th style="width:130px">{{tr "Permissions"}}:</th>
    <th style="width:40px;text-align:center;">{{tr "Use"}}</th>
    <th style="width:40px;text-align:center;">{{tr "Manage"}}</th>
    <th style="width:40px;text-align:center;">{{tr "Admin"}}</th>
  </tr>
</thead>
<tr>
  <td class="key_td">{{tr "Owner"}}</td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check owner_u" />
  </td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check owner_m" />
  </td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check owner_a" />
  </td>
</tr>
<tr>
  <td class="key_td">{{tr "Group"}}</td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check group_u" />
  </td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check group_m" />
  </td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check group_a" />
  </td>
</tr>
<tr>
  <td class="key_td">{{tr "Other"}}</td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check other_u" />
  </td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check other_m" />
  </td>
  <td style="text-align:center">
    <input type="checkbox" class="permission_check other_a" />
  </td>
</tr>