{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2016, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="row">
  <div class="vmgroup_role st_man medium-6 columns">
    <label>
      {{tr "Role name"}}
      <input class="role_param" type="text" id="role_name" name="name" aria-describedby="helpText" required pattern="^\w+$"/>
      <small class="form-error">{{tr "Can only contain alphanumeric and underscore characters"}}</small>
    </label>
  </div> 
  <div class="vmgroup_role medium-4 columns end">
    <label>
      {{tr "Number min of VMs"}}
      <input class="role_param" type="number" min="0" id="role_cardinality" name="cardinality" value="1"/>
    </label>
  </div>
  <div class="vmgroup_role medium-2 columns end">
    <label>{{tr "VM-VM Affinity"}}</label>
      <select class="role_param" id="role_protocol" name="protocol">
        <option value="NONE" selected="selected">{{tr "None"}}</option>
        <option value="AFFINED" >{{tr "Affined"}}</option>
        <option value="ANTI_AFFINED">{{tr "Anti Affined"}}</option>
      </select>
  </div>
   <div id="host_affinity">
      <div class="row">
        <div class="large-12 columns">
          <h5>
            {{tr "Host-VM Affinity"}}
          </h5>
        </div>
      </div>
      
      <div class="row">
        <div class="medium-8 columns">
          <div class="select_host_role" id="list_host_roles_select">
            {{{hostsTableHTML}}}
        </div>
        </div>

        <div class="medium-2 columns">
          <div class="type_affined">
            <select id="{{value_host_affinity}}">
                  <option value="AFFINED" selected="selected" style="background: lightgreen;">{{tr "Affined"}}</option>
                  <option value="ANTI_AFFINED" style="background: lightcoral;">{{tr "Anti Affined"}}</option>
              </select>
            <a class="button medium radius" id="{{btn_host_vm_roles}}">
                <i class="fa fa-lg fa-arrow-right"></i>
              </a>
          </div>
        </div>

        <div class="medium-2 columns">
          <div class="group_vm_host_roles" id="{{group_vm_host_roles}}">

          </div>
        </div>
      </div>
      <br/>
    </div>
</div>