<div id="{{dialogId}}" class="reveal-modal" role="dialog" data-reveal >
  <div class="row">
    <h3 id="create_vnet_header" class="subheader">{{tr "Instantiate VM Template"}}</h3>
  </div>
  <form data-abide="ajax" id="{{dialogId}}Form" action="" class="custom creation">
    <div class="row">
      <div class="large-12 columns">
        <label for="vm_name">
          {{tr "VM Name"}}
          <span class="tip">
            {{tr "Defaults to template name when emtpy. You can use the wildcard &#37;i. When creating several VMs, &#37;i will be replaced with a different number starting from 0 in each of them"}}.
          </span>
        </label>
        <input type="text" name="vm_name" id="vm_name" />
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label for="vm_n_times">
          {{tr "Number of instances"}}
          <span class="tip">
            {{tr "Number of Virtual Machines that will be created using this template"}}.
          </span>
        </label>
        <input type="text" name="vm_n_times" id="vm_n_times" value="1"></div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <input type="checkbox" name="hold" id="hold"/>
        <label for="hold">
          {{tr "Hold"}}
          <span class="tip">
            {{tr "Sets the new VM to hold state, instead of pending. The scheduler will not deploy VMs in this state. It can be released later, or deployed manually."}}
          </span>
        </label>
      </div>
    </div>
    <div id="instantiate_vm_user_inputs"> <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div class="form_buttons">
      <button class="button radius right success" id="instantiate_vm_template_proceed" value="Template.instantiate_vms">{{tr "Instantiate"}}</button>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </form>
</div>