{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<tr>
  <td>
    <select id="type" name="type">
      <option value=""></option>
      <option value="CHANGE">{{tr "Change"}}</option>
      <option value="CARDINALITY">{{tr "Cardinality"}}</option>
      <option value="PERCENTAGE_CHANGE">{{tr "Percentage"}}</option>
    </select>
  </td>
  <td>
    <input type="text" id="adjust" name="adjust"/>
  </td>
  <td id="min_adjust_step_td">
  </td>
  <td>
    <select id="time_format" name="time_format">
      <option value="start_time">{{tr "Start time"}}</option>
      <option value="recurrence">{{tr "Recurrence"}}</option>
    </select>
  </td>
  <td>
    <input type="text" id="time" name="time"/>
  </td>
  <td>
    <a href="#"><i class="fas fa-times-circle remove-tab"></i></a>
  </td>
</tr>
