<fieldset class="not_firecracker">
<legend>{{tr "Override Network Inbound Traffic QoS"}}</legend>
<div class="row">
    <div class="medium-4 columns">
    <label>
        {{tr "Average bandwidth (KBytes/s)"}}
        <input type="number" wizard_field="INBOUND_AVG_BW"/>
    </label>
    </div>
    <div class="medium-4 columns">
    <label>
        {{tr "Peak bandwidth (KBytes/s)"}}
        <input type="number" wizard_field="INBOUND_PEAK_BW"/>
    </label>
    </div>
    <div class="medium-4 columns">
    <label>
        {{tr "Peak burst (KBytes)"}}
        <input type="number" wizard_field="INBOUND_PEAK_KB"/>
    </label>
    </div>
</div>
</fieldset>
<fieldset class="not_firecracker">
<legend>{{tr "Override Network Outbound Traffic QoS"}}</legend>
<div class="row">
    <div class="medium-4 columns">
    <label>
        {{tr "Average bandwidth (KBytes/s)"}}
        <input type="number" wizard_field="OUTBOUND_AVG_BW"/>
    </label>
    </div>
    <div class="medium-4 columns">
    <label>
        {{tr "Peak bandwidth (KBytes/s)"}}
        <input type="number" wizard_field="OUTBOUND_PEAK_BW"/>
    </label>
    </div>
    <div class="medium-4 columns">
    <label>
        {{tr "Peak burst (KBytes)"}}
        <input type="number" wizard_field="OUTBOUND_PEAK_KB"/>
    </label>
    </div>
</div>
</fieldset>