<div class="row">
  <div class="large-12 columns">
    <p style="font-size:14px">{{tr "The following images will be created in OpenNebula."}} {{tr "If you want to edit parameters of the image you can do it later in the images tab"}} </p>
  </div>
</div>
<div class="row">
  <div class="large-10 large-centered columns">
    <div class="large-10 columns">
      <label for="market_img_datastore">{{tr "Select the datastore for the images"}}
      </label>
      <div id="market_img_datastore" name="market_img_datastore">
      </div>
    </div>
    <div class="large-2 columns">
    </div>
  </div>
</div>
{{#each element.files}}
<div class="row" id="market_import_file_{{@index}}">
  <div class="large-10 large-centered columns">
    <div class="large-10 columns">
      <label>
        <i class="fa fa-fw fa-download"/>
        &emsp;{{@index}} - {{tr "Image Name"}}
        <span class="right">{{humanizeSize "B" size}}</span>
      </label>
      {{#if name}}
      <input type="text" class="name" value="{{name}}"/>
      {{else}}
      <input type="text" class="name" value="{{element.name}}"/>
      {{/if}}
    </div>
    <div class="large-2 columns market_image_result">
    </div>
  </div>
  <div class="large-10 columns market_image_response">
  </div>
</div>
{{/each}}
{{#if element.opennebula_template}}
<br>
<div class="row">
  <div class="large-12 columns">
    <p style="font-size:14px">{{tr "The following template will be created in OpenNebula and the previous images will be referenced in the disks"}} {{tr "If you want to edit parameters of the template you can do it later in the templates tab"}} </p>
  </div>
</div>
<div class="row" id="market_import_file_template">
  <div class="large-10 large-centered columns">
    <div class="large-10 columns">
      <label>
        <i class="fa fa-fw fa-file-text-o"/>&emsp;{{tr "Template Name"}}
      </label>
      {{#if NAME}}
      <input type="text" class="name" value="NAME"/>
      {{else}}
      <input type="text" class="name" value="{{element.name}}"/>
      {{/if}}
    </div>
    <div class="large-2 columns market_template_result">
    </div>
  </div>
  <div class="large-10 columns market_template_response">
  </div>
</div>
{{/if}}