<div class="row">
  <div class="small-12 columns">
    <label>
      {{tr "Name"}}
      <input search-field="NAME" type="text" list="{{tableId}}-searchListNAME"/>
      <datalist search-datalist="NAME" id="{{tableId}}-searchListNAME">
      </datalist>
    </label>
    <label>
      {{tr "Owner"}}
      <input search-field="UNAME" type="text" list="{{tableId}}-searchListUNAME"/>
      <datalist search-datalist="UNAME" id="{{tableId}}-searchListUNAME">
      </datalist>
    </label>
    <label>
      {{tr "Group"}}
      <input search-field="GNAME" type="text" list="{{tableId}}-searchListGNAME"/>
      <datalist search-datalist="GNAME" id="{{tableId}}-searchListGNAME">
      </datalist>
    </label>
  </div>
</div>