{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="row">
  <div class="medium-3 small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <label class="" for="MEMORY">
          {{tr "Memory"}}
          {{{tip (tr "Amount of RAM required for the VM, in Megabytes.")}}}
        </label>
      </div>
      <div class="small-12 columns">
        <div class="input-group" style="margin-bottom:0rem;">
          <div class="mb_unit memory_input input-group-field">
            <input type="number" min="0" step="256" wizard_field="MEMORY" id="MEMORY"style="margin-bottom:0rem;"/>
          </div>
          <div class="gb_unit memory_gb_input input-group-field">
            <input id="MEMORY_GB" type="number" min="0" step="1" name="memory_gb" style="margin-bottom:0rem;"/>
          </div>
          <div class="input-group-button">
            <select id="memory_unit" name="MEMORY_UNIT" class="mb_input_unit" style="margin-bottom:0rem;">
              <option value="MB">{{tr "MB"}}</option>
              <option value="GB" selected>{{tr "GB"}}</option>
            </select>
          </div>
        </div>
        <span style="color:gray;margin-bottom:1rem">
          <span id="real_memory_cost">Cost</span>
          <small>{{tr "COST"}} / {{tr "MONTH"}}</small>
        </span>
      </div>
    </div>
  </div>
  <div class="medium-2 small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <label class="" for="MEMORY_HOT_ADD_ENABLED">
          {{tr "Enable hot resize?"}}
        </label>
      </div>
      <div class="small-12 columns">
        <select id="MEMORY_HOT_ADD_ENABLED" wizard_field="MEMORY_HOT_ADD_ENABLED">
          <option value="YES">{{tr "yes"}}</option>
          <option selected value="NO">{{tr "no"}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="medium-2 small-12 columns">
    <div class="row" id="memory_max_group" hidden>
      <div class="small-12 columns">
        <label class="">
          {{tr "Max memory"}}
        </label>
      </div>
      <div class="small-12 columns">
        <div class="input-group" style="margin-bottom:0rem;">
          <div class="mb_max_unit memory_max_input input-group-field">
            <input type="number" min="0" step="256" wizard_field="MEMORY_MAX" id="MEMORY_MAX"style="margin-bottom:0rem;"/>
          </div>
          <div class="gb_max_unit memory_max_gb_input input-group-field">
            <input id="MEMORY_MAX_GB" type="number" min="0" step="1" name="MEMORY_MAX_GB" style="margin-bottom:0rem;"/>
          </div>
          <div class="input-group-button">
            <select id="MEMORY_MAX_UNIT" name="MEMORY_MAX_UNIT" class="mb_input_unit" style="margin-bottom:0rem;">
              <option value="MB">{{tr "MB"}}</option>
              <option value="GB" selected>{{tr "GB"}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="medium-5 small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <label>
          {{tr "Memory modification"}}
          {{{tip (tr "Allow users to modify this template's default memory on instantiate")}}}
        </label>
      </div>
      <div class="small-4 columns">
        <select class="memory_modify_type" >
          <option value="fixed">{{tr "fixed"}}</option>
          <option selected value="number">{{tr "any value"}}</option>
          <option value="range">{{tr "range"}}</option>
          <option value="list">{{tr "list"}}</option>
        </select>
      </div>
      <div class="small-6 columns">
        <div class="memory_modify_opt range">
          <div class="row mb_unit">
            <div class="small-6 columns">
              <input type="number" min="0" class="user_input_params_min" placeholder="{{tr "Min"}}"/>
            </div>
            <div class="small-6 columns">
              <input type="number" min="0" class="user_input_params_max" placeholder="{{tr "Max"}}"/>
            </div>
          </div>
          <div class="row gb_unit">
            <div class="small-6 columns">
              <input type="number" min="0" step="any" class="user_input_params_min" placeholder="{{tr "Min"}}"/>
            </div>
            <div class="small-6 columns">
              <input type="number" min="0" step="any" class="user_input_params_max" placeholder="{{tr "Max"}}"/>
            </div>
          </div>
        </div>
        <div class="memory_modify_opt list">
          <input type=text class="mb_unit memory_modify_opt list" placeholder="1024,4096,8192"/>
          <input type=text class="gb_unit" placeholder="1,4,8"/>
        </div>
      </div>
      <div class="small-2 columns">
        <span class="memory_modify_opt range list memory_modify_unit">
        </span>
      </div>
    </div>
  </div>
</div>
<div class="only_kvm row">
  <div class="medium-6 small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <label class="" for="MEMORY_RESIZE_MODE">
          {{tr "Memory Resize Mode"}}
        </label>
      </div>
      <div class="small-12 columns">
        <select id="MEMORY_RESIZE_MODE" wizard_field="MEMORY_RESIZE_MODE" >
          <option selected value="BALLOONING">{{tr "Ballooning"}}</option>
          <option value="HOTPLUG">{{tr "Hotplug"}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="medium-6 small-12 columns" id="memory_slots_div"  hidden>
    <div class="row">
      <div class="small-12 columns">
        <label class="" for="MEMORY_SLOTS">
          {{tr "Memory Slots"}}
        </label>
      </div>
      <div class="small-12 columns">
        <input type="number" id="MEMORY_SLOTS" wizard_field="MEMORY_SLOTS"/>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="medium-7 small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <label class="" for="CPU">
          {{tr "Physical CPU"}}
          {{{tip (tr "Percentage of CPU divided by 100 required for the Virtual Machine. Half a processor is written 0.5.")}}}
        </label>
        <div class="cpu_input">
          <input type="number" step="0.01" min="0" wizard_field="CPU" id="CPU" style="margin-bottom:0rem;"/>
        </div>
        <span style="color:gray;margin-bottom:1rem">
          <span id="real_cpu_cost" >Cost</span>
          <small>{{tr "COST"}} / {{tr "MONTH"}}</small>
        </span>
      </div>
    </div>
  </div>
  <div class="medium-5 small-12 columns not_firecracker">
    <div class="row">
      <div class="small-12 columns">
        <label>
          {{tr "CPU modification"}}
          {{{tip (tr "Allow users to modify this template's default CPU on instantiate")}}}
        </label>
      </div>
      <div class="small-4 columns">
        <select class="cpu_modify_type" >
          <option value="fixed">{{tr "fixed"}}</option>
          <option selected value="number-float">{{tr "any value"}}</option>
          <option value="range-float">{{tr "range"}}</option>
          <option value="list">{{tr "list"}}</option>
        </select>
      </div>
      <div class="small-8 columns">
        <div class="row cpu_modify_opt range-float">
          <div class="small-6 columns">
            <input type="number" min="0" step="0.01" class="user_input_params_min" placeholder="{{tr "Min"}}"/>
          </div>
          <div class="small-6 columns">
            <input type="number" min="0" step="0.01" class="user_input_params_max" placeholder="{{tr "Max"}}"/>
          </div>
        </div>
        <input type=text class="cpu_modify_opt list" placeholder="0.5,1,4,16"/>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="medium-3 small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <label class="" for="VCPU">
          {{tr "Virtual CPU"}}
          {{{tip (tr "Number of virtual cpus. This value is optional, the default hypervisor behavior is used, usually one virtual CPU.")}}}
        </label>
        <div class="vcpu_input">
          <input type="number" step="1" min="0" wizard_field="VCPU" id="VCPU"/>
        </div>
      </div>
    </div>
  </div>
  <div class="medium-2 small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <label class="" for="CPU_HOT_ADD_ENABLED">
          {{tr "Enable hot resize?"}}
        </label>
      </div>
      <div class="small-12 columns">
        <select id="CPU_HOT_ADD_ENABLED" wizard_field="CPU_HOT_ADD_ENABLED">
          <option value="YES">{{tr "yes"}}</option>
          <option selected value="NO">{{tr "no"}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="medium-2 small-12 columns">
    <div class="row" id="vcpu_max_group" hidden>
      <div class="small-12 columns">
        <label class="">
          {{tr "Max VCPU"}}
        </label>
      </div>
      <div class="small-12 columns">
        <input type="number" min="0" step="1" id="VCPU_MAX" wizard_field="VCPU_MAX" style="margin-bottom:0rem;"/>
      </div>
    </div>
  </div>
  <div class="medium-5 small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <label>
          {{tr "VCPU modification"}}
          {{{tip (tr "Allow users to modify this template's default VCPU on instantiate")}}}
        </label>
      </div>
      <div class="small-4 columns">
        <select class="vcpu_modify_type" >
          <option value="fixed">{{tr "fixed"}}</option>
          <option selected value="number">{{tr "any value"}}</option>
          <option value="range">{{tr "range"}}</option>
          <option value="list">{{tr "list"}}</option>
        </select>
      </div>
      <div class="small-8 columns">
        <div class="row vcpu_modify_opt range">
          <div class="small-6 columns">
            <input type="number" min="0" step="1" class="user_input_params_min" placeholder="{{tr "Min"}}"/>
          </div>
          <div class="small-6 columns">
            <input type="number" min="0" step="1" class="user_input_params_max" placeholder="{{tr "Max"}}"/>
          </div>
        </div>
        <input type=text class="vcpu_modify_opt list" placeholder="4,8,16"/>
      </div>
    </div>
  </div>
</div>