<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <link rel="apple-touch-startup-image" href="images/screen_320x460.png" />
  <link rel="apple-touch-icon" href="images/screen_57x57.png">
  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="css/app.css" title="plain">
  <link rel="stylesheet" type="text/css" href="css/guac-custom.css" title="plain">
</head>
<body>
  <div class="main">
    <div style="background: #f7f7f7; padding: 1.5em 1.5em 0.8em;">
      <div style="max-width: 1250px; margin: 0 auto;">
        <div style="display: flex; align-items: center;">
          <img src="images/one_small_logo.png" style="height:40px;">
          <h5 class="guacamole-status">
            <div class="container">
              <div class="remote-logo">
                <img src="images/remote_console/guacamole.png">
              </div>
              <div id="guacamole-state" class="guacamole-state">
                <span id="guacamole-loading">
                  <i class="fas fa-spinner fa-spin"></i>
                </span>
              </div>
            </div>
          </h5>
          <div class="remote-buttons">
            <button class="button alert" id="sendCtrlAltDelButton">
              Send CtrlAltDel
            </button>
            <button class="button primary" id="oskButton" style="display: none !important;">
              <i class="fas fa-keyboard fa-fw"></i>
            </button>
            <button class="button primary" id="mouseButton">
              <i class="fas fa-mouse-pointer fa-fw"></i>
            </button>
            <button class="button primary" id="takeScreenshot">
              <i class="fas fa-camera fa-fw" title="Take screenshot"></i>
            </button>
          </div>
        </div>
        <div class="guacVNC_info"></div>
      </div>
    </div>
    <div id="guacamole-main" class="guacamole-main">
      <div id="guacamole-display" class="guacamole-display"></div>
    </div>
    <!-- On-screen keyboard -->
    <div class="osk-container" id="osk-container">
      <div class="osk-container-header" id="osk-container-header">
        <div class="buttons">
          <button class="close" id="osk-close">x</button>
        </div>
        <div class="layouts">
          <select id="osk-qwerty"></select>
        </div>
      </div>
      <div class="osk" id="osk"></div>
    </div>
  </div>

  <script src="dist/console/guacamole.js?v=<%= OpenNebula::VERSION %>"></script>
  <% view = $views_config.view(session[:user], session[:user_gname], session[:default_view]) %>
  <script type="text/javascript">
      var csrftoken = '<%= session[:csrftoken] %>';
      var view = JSON.parse('<%= view.to_json %>')
      var available_views = JSON.parse('["<%=
          $views_config.available_views(session[:user], session[:user_gname]).join('","')
        %>"]')
      var all_labels = JSON.parse('["<%=
          $views_config.get_all_labels(session[:user_gname]).join('","')
        %>"]')
      var all_views = JSON.parse('["<%=
          $views_config.get_all_views.join('","')
        %>"]')
      if ('<%= $conf[:addons] %>'){
        var addons = JSON.parse('<%= $conf[:addons].to_json %>');
      }
      var config = {
        'user_config' : {
            'lang' : '<%= session[:lang] %>',
            'vnc_wss' : '<%= session[:vnc_wss] %>',
            'table_order' : '<%= session[:table_order] %>',
            'default_view' : '<%= session[:default_view] %>',
            'page_length' : '<%= session[:page_length] %>'
        },
        'system_config' : {
            'marketplace_url' : '<%= $conf[:marketplace_url] %>',
            'vnc_request_password' : <%= $conf[:vnc_request_password] || false %>,
            'vnc_proxy_port' : '<%= $vnc.proxy_port %>',
            'vnc_client_port' : '<%= $conf[:vnc_client_port] %>',
            'max_upload_file_size' : <%= $conf[:max_upload_file_size] ? $conf[:max_upload_file_size] : "undefined" %>,
            'public_fireedge_endpoint': '<%= $conf[:public_fireedge_endpoint] %>'
        },
        'view' : view,
        'available_views' : available_views,
        'all_labels' : all_labels,
        'all_views' : all_views,
        'user_id' : '<%= session[:user_id] %>',
        'user_gid' : '<%= session[:user_gid] %>',
        'display_name' : '<%= session[:display_name] %>',
        'zone_name' : '<%= session[:zone_name] %>',
        'zone_id' : '<%= session[:zone_id] %>',
        'federation_mode' : '<%= session[:federation_mode] %>',
        'vm_logos' : <%= logos_conf.to_json %>,
        'oned_conf' : <%= oned_conf.to_json %>,
        'support' : <%= support.to_json %>,
        'upgrade' : <%= upgrade.to_json %>,
        'mode' : '<%= session[:mode] %>'
      };
  </script>
</body>
</html>