<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenNebula Sunstone: Cloud Operations Center</title>
    <link href="images/favicon.ico" rel="shortcut icon"></link>

    <% if session[:lang] %>
      <script src="locale/languages/<%= session[:lang] %>.js?v=<%= OpenNebula::VERSION %>" type="text/javascript"></script>
    <% end %>
    
    <% view = $views_config.view(session[:user], session[:user_gname], session[:default_view]) %>
    <script type="text/javascript">
      var csrftoken = '<%= session[:csrftoken] %>';
      var view = JSON.parse('<%= view.to_json %>')
      var available_views = JSON.parse('["<%=
          $views_config.available_views(session[:user], session[:user_gname]).join('","')
        %>"]')
      var all_views = JSON.parse('["<%=
          $views_config.get_all_views.join('","')
        %>"]')

      var config = {
        'user_config' : {
            'lang' : '<%= session[:lang] %>',
            'vnc_wss' : '<%= session[:vnc_wss] %>',
            'table_order' : '<%= session[:table_order] %>',
            'default_view' : '<%= session[:default_view] %>'
        },
        'system_config' : {
            'marketplace_url' : '<%= $conf[:marketplace_url] %>',
            'vnc_proxy_port' : '<%= $vnc.proxy_port %>'
        },
        'view' : view,
        'available_views' : available_views,
        'all_views' : all_views,
        'user_id' : '<%= session[:user_id] %>',
        'user_gid' : '<%= session[:user_gid] %>',
        'display_name' : '<%= session[:display_name] %>',
        'zone_name' : '<%= session[:zone_name] %>',
        'instance_types' : JSON.parse('<%= cloud_view_instance_types().to_json %>')
      };
    </script>



    <% if $conf[:env] == 'dev' %>
    <link href="css/app.css?v=<%= OpenNebula::VERSION %>" media="screen, projector, print" rel="stylesheet" type="text/css"></link>
    <% else %>
    <link href="css/app.min.css?v=<%= OpenNebula::VERSION %>" media="screen, projector, print" rel="stylesheet" type="text/css"></link>
    <% end %>
  </head>
  <body class="antialiased">
    <div id="loading">
      <span  id="loading-content" style="font-size:160px">
        <i class="fa fa-spinner fa-pulse"></i>
      </span>
    </div>

    <div class="row">
      <div class="small-12 large-2 columns left-content" style="padding-top: 35px">
        <div id="menu" class="row left-body">
          <ul class="side-nav" id="navigation">
            <div class="row left-header">
              <div class="large-12 columns">
                <img src="<%= view['provision_logo'] %>" style="width: 100px; padding: 15px"/>
              </div>
            </div>
          </ul>
        </div>
      </div>

      <div class="small-12 large-10 columns right-content">
        <div class="row user-zone-container">
          <div class="user-zone-info">
          </div>
        </div>
        <div class="right-header">
        </div>
      </div>
      <div id="footer" class="text-center large-10 columns right">
        <a href="http://opennebula.org" target="_blank">OpenNebula 4.12.0</a> by <a href="http://OpenNebula.systems" target="_blank">OpenNebula Systems</a>.
      </div>
      <div class="large-12 columns" id="dialogs"></div>
    </div>


    <% if $conf[:env] == 'dev' %>
      <script src="bower_components/requirejs/require.js" data-main="app/main"></script> 
    <% else %>
      <script src="dist/main.js"></script> 
    <% end %>
  </body>
</html>
