<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenNebula Sunstone: Cloud Operations Center</title>

    <!--[if IE]><link rel="shortcut icon" href="images/favicon.ico"><![endif]-->
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-precomposed.png">
    <link rel="icon" href="images/favicon.png">

    <% if session[:lang] %>
      <script src="locale/languages/<%= session[:lang] %>.js?v=<%= OpenNebula::VERSION %>" type="text/javascript"></script>
    <% end %>

    <% view = $views_config.view(session[:user], session[:user_gname], session[:default_view]) %>
    <% halt 500, "OpenNebula is unreachable" if view.nil? %>
    <script type="text/javascript">
      var csrftoken = '<%= session[:csrftoken] %>';
      var view = JSON.parse('<%= view.to_json %>')
      var available_views = JSON.parse('["<%=
          $views_config.available_views(session[:user], session[:user_gname]).join('","')
        %>"]')
      var all_labels = JSON.parse('["<%=
          $views_config.get_all_labels(session[:user_gname]).join('","')
        %>"]')
      var all_views = JSON.parse('["<%=
          $views_config.get_all_views.join('","')
        %>"]')
      if ('<%= $conf[:addons] %>'){
        var addons = JSON.parse('<%= $conf[:addons].to_json %>');
      }
      var config = {
        'user_config' : {
            'lang' : '<%= session[:lang] %>',
            'vnc_wss' : '<%= session[:vnc_wss] %>',
            'table_order' : '<%= session[:table_order] %>',
            'default_view' : '<%= session[:default_view] %>',
            'page_length' : '<%= session[:page_length] %>'
        },
        'system_config' : {
            'marketplace_url' : '<%= $conf[:marketplace_url] %>',
            'vnc_request_password' : <%= $conf[:vnc_request_password] || false %>,
            'vnc_proxy_port' : '<%= $vnc.proxy_port %>',
            'vnc_client_port' : '<%= $conf[:vnc_client_port] %>',
            'allow_vnc_federation' : '<%= (!$conf[:allow_vnc_federation].nil?)? $conf[:allow_vnc_federation] : "no" %>',
            'max_upload_file_size' : <%= $conf[:max_upload_file_size] ? $conf[:max_upload_file_size] : "undefined" %>,
            'leases' : <%= $conf[:leases] ? $conf[:leases].to_json : "null" %>,
            'mapped_ips' : <%= $conf[:mapped_ips] ? $conf[:mapped_ips] : false %>,
            'extended_vm_info': <%= $conf[:get_extended_vm_info] ? $conf[:get_extended_vm_info] : false %>
        },
        'view' : view,
        'available_views' : available_views,
        'all_labels' : all_labels,
        'all_views' : all_views,
        'user_id' : '<%= session[:user_id] %>',
        'user_gid' : '<%= session[:user_gid] %>',
        'display_name' : '<%= session[:display_name] %>',
        'zone_name' : '<%= session[:zone_name] %>',
        'zone_id' : '<%= session[:zone_id] %>',
        'federation_mode' : '<%= session[:federation_mode] %>',
        'id_own_federation' : '<%= session[:id_own_federation] %>',
	      'vm_logos' : <%= logos_conf.to_json %>,
        'oned_conf' : <%= oned_conf.to_json %>,
        'support' : <%= support.to_json %>,
        'upgrade' : <%= upgrade.to_json %>,
        'mode' : '<%= session[:mode] %>'
      };
    </script>

    <link href="bower_components/wickedpicker/dist/wickedpicker.min.css" media="screen, projector, print" rel="stylesheet" type="text/css"></link>
    <link href="bower_components/jquery-ui/themes/flick/jquery-ui.min.css" media="screen, projector, print" rel="stylesheet" type="text/css"></link>
    <% if $conf[:env] == 'dev' %>
    <link href="css/app.css?v=<%= OpenNebula::VERSION %>" media="screen, projector, print" rel="stylesheet" type="text/css"></link>
    <link href="css/custom.css?v=<%= OpenNebula::VERSION %>" media="screen, projector, print" rel="stylesheet" type="text/css"></link>
    <% else %>
    <link href="css/app.min.css?v=<%= OpenNebula::VERSION %>" media="screen, projector, print" rel="stylesheet" type="text/css"></link>
    <link href="css/custom.css?v=<%= OpenNebula::VERSION %>" media="screen, projector, print" rel="stylesheet" type="text/css"></link>
    <% end %>
  </head>
  <body class="antialiased">
    <div id="top-row" class="row">
    </div>

    <div class="row">
      <div id="menu-wrapper" class="small-6 medium-3 large-2 columns sunstone-menu-content">
        <div id="menu" class="row sunstone-menu-body">
          <ul class="vertical menu" id="navigation" data-accordion-menu>
          </ul>
        </div>
      <div id="footer" class="text-center large-12 columns">
        <a href="http://opennebula.org" target="_blank">OpenNebula <%= OpenNebula::VERSION %></a>
        <div id="latest_version" style="display:none;"></div>
        <p>by <a href="http://OpenNebula.systems" target="_blank">OpenNebula Systems</a>.</p>
      </div>
      </div>

      <div class="small-12 large-10 columns sunstone-content">
        <div class="sunstone-header">
        </div>
      </div>
      <div id="upload_progress_bars" class="large-10 columns end right">
      </div>
      <div id="loading" class="text-center">
        <span  id="loading-content">
          <i class="fas fa-5x fa-spinner fa-pulse"></i>
        </span>
      </div>
      <div class="large-12 columns" id="dialogs"></div>
    </div>


    <% if $conf[:env] == 'dev' %>
      <script src="bower_components/requirejs/require.js" data-main="app/main"></script>
    <% else %>
      <script src="dist/main.js?v=<%= OpenNebula::VERSION %>"></script>
    <% end %>
  </body>
</html>
