<!DOCTYPE html>
<html>
  <head>
    <title>OpenNebula Sunstone: Cloud Operations Center</title>
    <meta content='text/html' http-equiv='Content-Type'>
    <link href="images/favicon.ico" rel="shortcut icon"></link>
    <script src="vendor/4.0/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="vendor/4.0/jquery-migrate-1.1.0.js" type="text/javascript"></script>
    <script src="vendor/4.0/jgrowl/jquery.jgrowl.js" type="text/javascript"></script>
    <script src="vendor/4.0/jquery_layout/jquery.layout-latest.min.js" type="text/javascript"></script>
    <script src="vendor/4.0/foundation/modernizr.foundation.js" type="text/javascript"></script>
    <script src="vendor/4.0/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="vendor/4.0/foundation_datatables/responsive-tables.js" type="text/javascript"></script>
    <script src="vendor/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="vendor/flot/jquery.flot.pie.min.js" type="text/javascript"></script>
    <script src="vendor/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="vendor/flot/jquery.flot.stack.min.js" type="text/javascript"></script>
    <script src="vendor/fileuploader/fileuploader.js" type="text/javascript"></script>
    <script src="vendor/4.0/nouislider/jquery.nouislider.min.js" type="text/javascript"></script>
    <script src="vendor/4.0/jdpicker_1.1/jquery.jdpicker.js" type="text/javascript"></script>
    <script src="vendor/4.0/jquery.timePicker.min.js" type="text/javascript"></script>
    <link href="vendor/4.0/jgrowl/jquery.jgrowl.css" rel="stylesheet" type="text/css"></link>
    <link href="vendor/4.0/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
    <link href="vendor/4.0/jquery_layout/layout-default-latest.css" rel="stylesheet" type="text/css"></link>
    <link href="vendor/4.0/nouislider/nouislider.css" rel="stylesheet" type="text/css"></link>
    <link href="vendor/4.0/jdpicker_1.1/jdpicker.css" rel="stylesheet" type="text/css"></link>
    <!--[if lte IE 8]
      <script src="vendor/explorercanvas/excanvas.compiled.js" type="text/javascript"></script>
    -->
    <% if session[:lang] %>
      <script src="locale/<%= session[:lang] %>/<%= session[:lang] %>.js" type="text/javascript"></script>
    <% end %>
    <script src="vendor/4.0/foundation_datatables/datatables.foundation.js" type="text/javascript"></script>
    <link href="css/app.css" media="screen, projector, print" rel="stylesheet" type="text/css"></link>
    <script src="js/opennebula.js" type="text/javascript"></script>
    <script src="js/layout.js" type="text/javascript"></script>
    <script src="js/sunstone.js" type="text/javascript"></script>
    <script src="js/sunstone-util.js" type="text/javascript"></script>
    <% view = $views_config.view(session[:user], session[:user_gname], session[:default_view]) %>
    <script>

      var view = JSON.parse('<%= view.to_json %>')
      var available_views = JSON.parse('["<%=
        $views_config.available_views(session[:user], session[:user_gname]).join('","')
      %>"]')

      config = {
        'user_config' : {
            'lang' : '<%= session[:lang] %>',
            'vnc_wss' : '<%= session[:vnc_wss] %>',
            'default_view' : '<%= session[:default_view] %>'
        },
        'system_config' : {
            'marketplace_url' : '<%= $conf[:marketplace_url] %>',
            'vnc_proxy_port' : '<%= $vnc.proxy_port %>'
        },
        'view' : view,
        'available_views' : available_views
      };


    </script>
    <script src="js/plugins/config-tab.js" type="text/javascript"></script>

    <!-- enabled tabs: -->
    <%- $views_config.available_tabs.each do |tab_name| -%>
        <script src="js/plugins/<%= tab_name %>.js" type="text/javascript"></script>
    <%- end -%>
    <!-- end tabs -->

  </head>
  <body>
    <div class="outer-center" id="tabs_content">
      <div class="inner-center"></div>
      <div class="inner-south" id="dialog"></div>
    </div>
    <div class="outer-west" id="menu">
      <div class="ui-layout-content">
        <div class="header" id="logo">
          <img src="<%= view['small_logo'] %>"/>
        </div>
        <div class="menu-navZ">
          <ul class="tabs vertical" id="navigation"></ul>
        </div>
      </div>

        <div id="footer" style="overflow:visible;text-align:center;padding:8px;font-size:12px">
            <a href="http://opennebula.org" target="_blank">OpenNebula 4.2.0</a> by <a href="http://c12g.com" target="_blank">C12G Labs</a>.
        </div>
    </div>
    <div id="dialogs"></div>
    <div id="plots"></div>
    <div id="info_panels"></div>

    <script src="vendor/4.0/foundation/jquery.foundation.reveal.js" type="text/javascript"></script>
    <script src="vendor/4.0/foundation/jquery.foundation.forms.js" type="text/javascript"></script>
    <script src="vendor/4.0/foundation/jquery.foundation.tooltips.js" type="text/javascript"></script>
    <script src="vendor/4.0/foundation/jquery.foundation.alerts.js" type="text/javascript"></script>
    <script src="vendor/4.0/foundation/jquery.foundation.buttons.js" type="text/javascript"></script>
    <script src="vendor/4.0/foundation/jquery.foundation.tabs.js" type="text/javascript"></script>
    <script src="vendor/4.0/foundation/app.js" type="text/javascript"></script>
  </body>
</html>
