<!DOCTYPE html>
  <html>
    <head>
      <title><%= params['vm_name']%></title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
      <link rel="apple-touch-startup-image" href="images/screen_320x460.png" />
      <link rel="apple-touch-icon" href="images/screen_57x57.png">
      <!-- Stylesheets -->
      <link rel="stylesheet" type="text/css" href="css/novnc-custom.css" title="plain">
      <% view = $views_config.view(session[:user], session[:user_gname], session[:default_view]) %>
      <script type="text/javascript">
          var csrftoken = '<%= session[:csrftoken] %>';
          var view = JSON.parse('<%= view.to_json %>')
          var available_views = JSON.parse('["<%=
              $views_config.available_views(session[:user], session[:user_gname]).join('","')
            %>"]')
          var all_labels = JSON.parse('["<%=
              $views_config.get_all_labels(session[:user_gname]).join('","')
            %>"]')
          var all_views = JSON.parse('["<%=
              $views_config.get_all_views.join('","')
            %>"]')
          if ('<%= $conf[:addons] %>'){
            var addons = JSON.parse('<%= $conf[:addons].to_json %>');
          }
          var config = {
            'user_config' : {
                'lang' : '<%= session[:lang] %>',
                'vnc_wss' : '<%= session[:vnc_wss] %>',
                'table_order' : '<%= session[:table_order] %>',
                'default_view' : '<%= session[:default_view] %>',
                'page_length' : '<%= session[:page_length] %>'
            },
            'system_config' : {
                'marketplace_url' : '<%= $conf[:marketplace_url] %>',
                'vnc_request_password' : <%= $conf[:vnc_request_password] || false %>,
                'vnc_proxy_port' : '<%= $vnc.proxy_port %>',
                'vnc_client_port' : '<%= $conf[:vnc_client_port] %>',
                'max_upload_file_size' : <%= $conf[:max_upload_file_size] ? $conf[:max_upload_file_size] : "undefined" %>
            },
            'view' : view,
            'available_views' : available_views,
            'all_labels' : all_labels,
            'all_views' : all_views,
            'user_id' : '<%= session[:user_id] %>',
            'user_gid' : '<%= session[:user_gid] %>',
            'display_name' : '<%= session[:display_name] %>',
            'zone_name' : '<%= session[:zone_name] %>',
            'zone_id' : '<%= session[:zone_id] %>',
            'federation_mode' : '<%= session[:federation_mode] %>',
            'vm_logos' : <%= logos_conf.to_json %>,
            'oned_conf' : <%= oned_conf.to_json %>,
            'support' : <%= support.to_json %>,
            'upgrade' : <%= upgrade.to_json %>,
            'mode' : '<%= session[:mode] %>'
          };
      </script>
      <script src="dist/console/vnc.js?v=<%= OpenNebula::VERSION %>"></script>
    </head>
    <body style="margin: 0px;">
      <div id="noVNC_screen">
        <div style="background: #f7f7f7; border-bottom: 1px solid #dfdfdf; padding: 10px 0px 15px 0px">
          <div id="noVNC_status_bar" class="noVNC_status_bar" style="margin-top: 0px;">
            <table border=0 width="100%">
              <tr>
                <td width="1%" >
                  <img src="images/one_small_logo.png" style="height:40px; vertical-align:top; margin-left: 30px"></td>
                <td>
                  <div id="noVNC_status" style="position: relative; height: auto;">Loading</div>
                </td>
                <td width="1%" >
                  <div id="noVNC_buttons" style="margin-right: 30px">
                    <input type=button value="Send CtrlAltDel"
                                id="sendCtrlAltDelButton">
                    <span id="noVNC_xvp_buttons">
                      <input type=button value="Shutdown"
                                id="xvpShutdownButton">
                      <input type=button value="Reboot"
                                id="xvpRebootButton">
                      <input type=button value="Reset"
                                id="xvpResetButton"></span>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div id="VNC_canvas" width="640px" height="20px">
          <div class="NOVNC_message"></div>
        </div>
      </div>
    </body>
  </html>