<tr class="region_name">
  <td class="key_td">{{tr "Region name"}}</td>
  <td class="value_td_region">{{region_name}}</td>
  <td>
    <div id="div_edit_region">
      <a id="div_edit_region_link" class="edit_e" href="#"> <i class="fas fa-edit right"/></a>
    </div>
  </td>
</tr>
<tr class="ec2_access">
  <td class="key_td">{{tr "EC2 Access"}}</td>
  <td class="value_td_access">{{ec2_access}}</td>
  <td>
    <div id="div_edit_access">
      <a id="div_edit_access_link" class="edit_e" href="#"> <i class="fas fa-edit right"/></a>
    </div>
  </td>
</tr>
<tr class="ec2_secret">
  <td class="key_td">{{tr "EC2 Secret"}}</td>
  <td class="value_td_secret">{{ec2_secret}}</td>
  <td>
    <div id="div_edit_secret">
      <a id="div_edit_secret_link" class="edit_e" href="#"> <i class="fas fa-edit right"/></a>
    </div>
  </td>
</tr>