{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2015, OpenNebula Project (OpenNebula.org), C12G Labs        }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div id="create_security_group_form_wrapper">
  <form data-abide="ajax" id="{{formPanelId}}Wizard" class="custom creation">
    <div class="row">
      <div class="medium-4 columns">
        <label for="security_group_name">{{tr "Security Group Name"}}:</label>
        <input required type="text" name="security_group_name" id="security_group_name"/>
      </div>
      <div class="medium-8 columns">
        <label for="security_group_description">{{tr "Description"}}
          <span class="tip">{{tr "Description for the Security Group"}}</span>
        </label>
        <textarea type="text" id="security_group_description" name="security_group_description" style="height: 70px;"/>
      </div>
    </div>
    <hr/>
  </form>
  <form data-abide="ajax" id="rules_form_wizard" action="">
    <div class="row collapse" id="new_rule_wizard">
      <div class="row">
        <div class="medium-4 columns">
          <label>{{tr "Type"}}
            <span class="tip">{{tr "Defines the direction of the rule."}}</span>
          </label>
          <select class="security_group_rule_type">
            <option value="inbound" selected="selected">{{tr "Inbound"}}</option>
            <option value="outbound">{{tr "Outbound"}}</option>
          </select>
        </div>
        <div class="medium-4 columns">
          <label>{{tr "Protocol"}}
            <span class="tip">{{tr "Defines the protocol of the rule."}}</span>
          </label>
          <select class="security_group_rule_protocol">
            <option value="TCP" selected="selected">{{tr "TCP"}}</option>
            <option value="UDP">{{tr "UDP"}}</option>
            <option value="ICMP">{{tr "ICMP"}}</option>
            <option value="IPSEC">{{tr "IPsec"}}</option>
            <option value="ALL">{{tr "All"}}</option>
          </select>
        </div>
        <div class="medium-4 columns icmp_type_wrapper">
          <label>{{tr "ICMP Type"}}
            <span class="tip">{{tr "Specific ICMP type of the rule. If a type has multiple codes, it includes all the codes within."}}</span>
          </label>
          <select class="security_group_rule_icmp_type">
            <option value="" selected="selected">{{tr "All"}}</option>
            <option value = "0">0/0: Echo Reply (pong)</option>
            <option value = "3">3: Destination Unreachable</option>
            <option value = "4">4/0: Source Quench</option>
            <option value = "5">5: Redirect</option>
            <option value = "8">8/0: Echo Request (ping)</option>
            <option value = "9">9/0: Router Advertisement</option>
            <option value = "10">10/0: Router Solicitation</option>
            <option value = "11">11: Time Exceeded</option>
            <option value = "12">12: Parameter Problem</option>
            <option value = "13">13/0: Timestamp Request</option>
            <option value = "14">14/0: Timestamp Reply</option>
            <option value = "17">17/0: Address Mask Request</option>
            <option value = "18">18/0: Address Mask Reply</option>
          </select>
        </div>
      </div>
      <div class="row range_row">
        <div class="medium-4 columns">
          <label>{{tr "Port range"}}
            <span class="tip">{{tr "Selects whether to apply this TCP or UDP rule to all the ports or just a specific set."}}</span>
          </label>
          <select class="security_group_rule_range_sel">
            <option value="ALL" selected="selected">{{tr "All"}}</option>
            <option value="RANGE">{{tr "Port range"}}</option>
          </select>
        </div>
        <div class="medium-4 columns end security_group_rule_range">
          <label>{{tr "Iptables range"}}
            <span class="tip">{{tr "A Port Range to filter specific ports. Uses the iptables port syntax: port[,port|,port:port]..."}}</span>
          </label>
          <input type="text" placeholder="22,53,80:90,110,1024:65535"/>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns">
          <label>{{tr "Network"}}
            <span class="tip">{{tr "Any: apply this rule to any connection regardless of its source or destination. Network: Apply this rule only to a custom defined network range. Virtual Network: Apply this rule only to connections with origin or destination in one of the already defined VNETs."}}</span>
          </label>
          <select class="security_group_rule_network_sel">
            <option value="ANY" selected="selected">{{tr "Any"}}</option>
            <option value="NETWORK">{{tr "Network"}}</option>
            <option value="VNET">{{tr "Virtual Network"}}</option>
          </select>
        </div>
        <div class="medium-4 columns security_group_rule_network">
          <label for="security_group_rule_first_ip">{{tr "IP Start"}}:
            <span class="tip">{{tr "First IP address"}}</span>
          </label>
          <input id="security_group_rule_first_ip" type="text" placeholder="192.168.10.1"/>
        </div>
        <div class="medium-4 columns security_group_rule_network">
          <label for="security_group_rule_size">{{tr "Size"}}:
            <span class="tip">{{tr "Number of addresses in the range"}}</span>
          </label>
          <input id="security_group_rule_size" type="text" placeholder="254"/>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns vnet_select">
          {{{vnetsTableHTML}}}
          <br/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="medium-8 small-centered columns">
        <button type="submit" class="add_security_group_rule button small small-12 radius">
          <i class="fa fa-angle-double-down"></i> {{tr "Add Rule"}}
        </button>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <table class="security_group_rules policies_table dataTable">
          <thead>
            <tr>
              <th>{{tr "Protocol"}}</th>
              <th>{{tr "Type"}}</th>
              <th>{{tr "Port Range"}}</th>
              <th>{{tr "Network"}}</th>
              <th>{{tr "ICMP Type"}}</th>
              <th style="width:3%"></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
