{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2016, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="row">
  <div class="large-6 columns">
    <table class="dataTable" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th colspan="3">{{tr "Information"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="key_td">{{tr "ID"}}</td>
          <td class="value_td">{{element.ID}}</td>
          <td></td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Name"}}</td>
          <td class="value_td">{{element.NAME}}</td>
          <td></td>
        </tr>
        {{{groupTrHTML}}}
        <tr>
          <td class="key_td">{{tr "Table Order"}}</td>
          <td class="value_td_table_order">{{valOrDefault sunstone_template.TABLE_ORDER "-"}}</td>
          <td>
            <div id="div_edit_table_order">
              <a id="div_edit_table_order_link" class="edit_e" href="#"> <i class="fa fa-pencil-square-o right"/></a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="key_td">{{tr "Language"}}</td>
          <td class="value_td_language">{{valOrDefault sunstone_template.LANG "-"}}</td>
          <td>
            <div id="div_edit_language">
              <a id="div_edit_language_link" class="edit_e" href="#"> <i class="fa fa-pencil-square-o right"/></a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="key_td">{{tr "View"}}</td>
          <td class="value_td_view">{{valOrDefault sunstone_template.DEFAULT_VIEW "-"}}</td>
          <td>
            <div id="div_edit_view">
              <a id="div_edit_view_link" class="edit_e" href="#"> <i class="fa fa-pencil-square-o right"/></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="large-6 columns">
    <div class="row">
      <div class="large-12 columns">
        <table class="dataTable">
          <thead>
            <tr>
              <th colspan="2">{{tr "Authentication"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="key_td">{{tr "Authentication driver"}}</td>
              <td class="value_td" colspan="2">{{element.AUTH_DRIVER}}</td>
            </tr>
            <tr class="passsword_edit">
              <td class="key_td">{{tr "Password"}}</td>
              <td class="value_td">
                <button id="view_password" type="button" class="button small radius secondary" style="min-width:80%">
                  {{tr "View"}}
                </button>
              </td>
              <td class="value_td">
                {{#isTabActionEnabled "users-tab" "User.update_password"}}
                <div>
                  <a id="update_password" class="edit_e" href="#"> <i class="fa fa-pencil-square-o right"/></a>
                </div>
                {{/isTabActionEnabled}}
              </td>
            </tr>
            {{#isTabActionEnabled "users-tab" "User.login_token"}}
            <tr class="login_token">
              <td class="key_td">{{tr "Login token"}}</td>
              <td class="value_td">
                <button id="login_token" type="button" class="button small radius secondary" style="min-width:80%">
                  {{tr "Get a login token"}}
                </button>
              </td>
              <td/>
            </tr>
            {{/isTabActionEnabled}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <table class="dataTable" cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th>{{tr "Public SSH Key"}}</th>
              <th>
                <a class="user_ssh_public_key_edit right" href="#"><i class="fa fa-pencil-square-o"></i></a>
              </th>
            </tr>
          </thead>
        </table>
        <td>
          <textarea rows="6" type="text" id="user_ssh_public_key_textarea" name="ssh_public_key" hidden>
            {{~element.TEMPLATE.SSH_PUBLIC_KEY~}}
          </textarea>
          <p id="user_ssh_public_key_text" class="ellipsis" name="ssh_public_key">
            {{#if element.TEMPLATE.SSH_PUBLIC_KEY}}
              {{element.TEMPLATE.SSH_PUBLIC_KEY}}
            {{else}}
              {{tr "You can provide a SSH Key for this User clicking on the edit button"}}
            {{/if}}
          </p>
        </td>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-9 columns">
    {{{templateTableHTML}}}
  </div>
</div>
