<table id="{{dataTableId}}" class="datatable twelve">
  <thead>
    <tr>
      <th class="check">
        <input type="checkbox" class="check_all" value=""/>
      </th>
      <th>{{tr "ID"}}</th>
      <th>{{tr "Owner"}}</th>
      <th>{{tr "Group"}}</th>
      <th>{{tr "Name"}}</th>
      <th>{{tr "Datastore"}}</th>
      <th>{{tr "Size"}}</th>
      <th>{{tr "Type"}}</th>
      <th>{{tr "Registration time"}}</th>
      <th>{{tr "Persistent"}}</th>
      <th>{{tr "Status"}}</th>
      <th>{{tr "#VMS"}}</th>
      <th>{{tr "Target"}}</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>