{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<fieldset>
  <legend>{{tr "Template"}}</legend>
  <div class="table_wrapper row selectTemplateTable" style="display:none"/>
  <p class="no_table_wrapper">{{tr "You selected the following Template:"}} <span class="template_name"/></p>
</fieldset>
<div class="row nameContainer">
  <div class="medium-4 columns">
    <label>
      {{tr "Virtual machine name"}}
      <span class="tip">
        {{tr "When creating multiple VMs, %i is replaces by the VM number in the set"}}.
      </span>
      <input type="text" name="vm_name" id="vm_name" />
    </label>
  </div> 
  <div class="medium-4 columns">
    <label>
      {{tr "Number of VM instances"}}
      <input type="number" name="vm_n_times" id="vm_n_times" value="1" min="1">
    </label>
  </div>
  <div class="medium-4 columns">
    <label>
      <input type="checkbox" name="hold" id="hold"/>
      {{tr "Start on hold"}}
    </label>
  </div>
</div>
<div class="row">
  <div class="large-12 columns large-centered template_user_inputs">
  </div>
  <br>
</div>