{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div id="create_virtual_router_form_wrapper">
  <form data-abide novalidate id="{{formPanelId}}Wizard" class="custom creation">
    <div class="vr_attributes">
      <div class="row">
        <div class="medium-6 columns">
          <label>
            {{tr "Name"}}
            <input type="text" wizard_field="NAME" required name="name" id="name"/>
          </label>
        </div>
        <div class="medium-6 columns">
          <label>
            {{tr "Description"}}
            <textarea type="text" wizard_field="DESCRIPTION" id="DESCRIPTION" name="DESCRIPTION"/>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <label>
            {{tr "Keepalive service ID"}}
            <input type="text" wizard_field="KEEPALIVED_ID" name="keepalived_id" id="keepalived_id"/>
          </label>
        </div>
        <div class="medium-6 columns">
          <label>
            {{tr "Keepalive password"}}
            <input type="text" wizard_field="KEEPALIVED_PASSWORD" name="keepalived_password" id="keepalived_password"/>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns nicsContext">
        <div class="provision_network_selector">
        </div>
        <br>
      </div>
    </div>
    <br/>
    {{> ./templateSelection}}
  </form>
</div>
