{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2015, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="row">
  <div class="medium-6 columns graphics">
    <fieldset>
      <legend>{{tr "Graphics"}}</legend>
      <div class="">
        <div class="large-12 columns text-center">
          <input type="radio" name="graphics_type" ID="radioNoneType" value="">
          <label for="radioNoneType">{{tr "None"}}</label>
          <input type="radio" name="graphics_type" ID="radioVncType" value="VNC">
          <label for="radioVncType">VNC</label>
          <input type="radio" name="graphics_type" ID="radioSdlType" value="SDL" class="hypervisor only_kvm only_vmware only_xen" >
          <label class="hypervisor only_kvm only_vmware only_xen"  for="radioSdlType">SDL</label>
          <input type="radio" name="graphics_type" ID="radioSpiceType" value="SPICE" class="hypervisor only_kvm only_vmware only_xen" >
          <label  class="hypervisor only_kvm only_vmware only_xen" for="radioSpiceType">SPICE</label>
        </div>
      </div>
      <br>
      <div class="">
        <input type="hidden" wizard_field="TYPE" name="graphics_type" ID="TYPE">
        <div class="large-12 columns">
          <label for="LISTEN">
            {{tr "Listen IP"}}
            {{{tip (tr "IP to listen on")}}}
          </label>
          <input type="text" wizard_field="LISTEN" id="LISTEN" name="graphics_ip" />
        </div>
      </div>
      <div class="">
        <div class="medium-6 columns">
          <label for="PORT">
            {{tr "Port"}}
            {{{tip (tr "Port for the VNC/SPICE server")}}}
          </label>
          <input type="text" wizard_field="PORT" id="PORT" name="port" />
        </div>
        <div class="medium-6 columns">
          <label for="KEYMAP">
            {{tr "Keymap"}}
            {{{tip (tr "Keyboard configuration locale to use in the VNC/SPICE display")}}}
          </label>
          <input type="text" wizard_field="KEYMAP" id="KEYMAP" name="keymap" />
        </div>
      </div>
      <div class=" hypervisor only_kvm only_vmware only_xen">
        <div class="large-12 columns">
          <label for="PASSWD">
            {{tr "Password"}}
            {{{tip (tr "Password for the VNC/SPICE server")}}}
          </label>
          <input type="text" wizard_field="PASSWD" id="PASSWD" name="graphics_pw" />
        </div>
      </div>
      <div class=" hypervisor only_kvm only_vmware only_xen">
        <div class="columns large-12">
          <input type="checkbox" name="RANDOM_PASSWD" id="RANDOM_PASSWD">
          <label for="RANDOM_PASSWD">
            {{tr "Generate Random Password"}}
            {{{tip (tr "A random password will be generated for each VM, and will be included in the VM information")}}}
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="medium-6 columns inputs hypervisor only_kvm only_vmware only_xen">
    <fieldset>
      <legend>{{tr "Inputs"}}</legend>
      <div class="">
        <div class="medium-5 columns">
          <select id="INPUT_TYPE" name="input_type">
            <option id="no_type" name="no_type" value=""></option>
            <option value="mouse">{{tr "Mouse"}}</option>
            <option value="tablet">{{tr "Tablet"}}</option>
          </select>
        </div>
        <div class="medium-4 columns">
          <select id="INPUT_BUS" name="input_bus">
            <option id="no_input" name="no_input" value=""></option>
            <option value="usb">{{tr "USB"}}</option>
            <option value="ps2">{{tr "PS2"}}</option>
            <option value="xen">{{tr "XEN"}}</option>
          </select>
        </div>
        <div class="medium-3 columns">
          <a href="#" class="button small radius secondary" id="add_input">{{tr "Add"}}</a>
        </div>
      </div>
      <div class="">
        <div class="large-12 columns">
          <table id="input_table" class="dataTable policies_table">
            <thead>
              <tr>
                <th>{{tr "TYPE"}}</th>
                <th>{{tr "BUS"}}</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="tbodyinput">
              <tr></tr>
              <tr></tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
  </div>
</div>
