<div id="{{dialogId}}" class="reveal-modal" data-reveal>
  <div class="row">
    <h3 class="subheader">
      {{tr "Confirm"}}
      <br>
      &emsp;
      <small class="confirm_action"></small>
    </h3>
  </div>
  <form action="">
    <div id="confirm_tip">{{tr "You have to confirm this action."}}</div>
    <br />
    <div id="question">{{tr "Do you want to proceed?"}}</div>
    <br />
    <div class="form_buttons">
      <button id="confirm_proceed" class="action_button radius button right" value="">{{tr "OK"}}</button>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </form>
</div>