{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div class="row collapse">
  <div class="medium-2 columns">
    <ul class="tabs vertical" id="{{linksContainerId}}" data-tabs>
    </ul>
    <div class="text-center">
      <button type="button" class="button small tabs-add" id="tf_btn_disks" style="margin-top: 5%">
        <i class="fa fa-lg fa-plus-circle"></i>
      </button>
    </div>
  </div>
  <div class="medium-10 columns">
    <div class="tabs-content vertical disks-container" id="{{contentsContainerId}}" data-tabs-content="{{linksContainerId}}"></div>
  </div>
</div>
<div class="row">
  <div class="medium-2 columns"></div>
  <div class="medium-12 columns">
    <fieldset>
      <legend>{{tr "Storage Options"}}</legend>
      <div class="row">
        <div class="medium-12 columns">
          <label for="TM_MAD_SYSTEM">
            {{tr "Deploy Mode"}}
            &emsp;
            <span class="tip">
              {{tr "Set an alternative mode to deploy VM disks to the hosts"}}
            </span>
          </label>
          <select wizard_field="TM_MAD_SYSTEM" id="TM_MAD_SYSTEM" name="TM_MAD_SYSTEM">
            <option value="">{{tr "Default"}}</option>
            <option class="ssh" value="ssh" style="display: none;">ssh</option>
            <option class="shared" value="shared" style="display: none;">shared</option>
          </select>
        </div>
      </div>
    </fieldset>
  </div>
</div>