{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div id="{{dialogId}}" class="reveal" role="dialog" data-reveal>
  <div class="row">
    <h3 class="subheader">{{tr "Update Password"}}</h3>
  </div>
  <div class="confirm-resources-header"></div>
  <form data-abide novalidate id="{{dialogId}}Form">
    <div class="row">
      <div class="large-12 columns">
        {{{userCreationHTML}}}
      </div>
    </div>
    {{#if cantChangePassword}}
      <div>
        Special Cloud administrator accounts (oneadmin and serveradmin) 
        cannot be changed in Sunstone as authorization files need to be changed 
        to ensure the proper functioning of the OpenNebula cloud. Please follow the 
        <a href="http://docs.opennebula.io/5.10/operation/users_groups_management/manage_users.html#change-credentials-for-oneadmin-or-serveradmin" target="_blank">documentation</a>
        for this task.
      </div>
    {{/if}}
    <div class="form_buttons row">
      <button type="submit" class="button radius right" {{#if cantChangePassword}}disabled{{/if}}>
        {{tr "Change"}}
      </button>
    </div>
    <button class="close-button" data-close aria-label="{{tr "Close modal"}}" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </form>
</div>
