<div id="{{dialogId}}" class="reveal-modal" role="dialog" data-reveal >
  <div class="row">
    <h3 class="subheader">{{tr "Update Password"}}</h3>
  </div>
  <form data-abide="ajax" id="{{dialogId}}Form">
    <div class="row">
      <div class="large-12 columns">
        {{{userCreationHTML}}}
      </div>
    </div>
    <div class="form_buttons row">
      <button type="submit" class="button radius right">
        {{tr "Change"}}
      </button>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </form>
</div>