<div style=" padding: 15px 0px 10px 0px; margin-bottom: 10px">
  <div class="row">
    <div class="large-12 columns">
      <ul class="inline-list provision-header text-center">
        {{#isTabPanelEnabled "provision-tab" "users"}}
        <li>
          <a href"#" class="medium off-color" id="provision_vdc_info_button">
            <i class="fa fa-fw fa-lg fa-bar-chart-o"/>
            {{tr "Group Info"}}
          </a>
        </li>
        <li>
          <a href"#" class="medium off-color provision_users_list_button" id="">
          <i class="fa fa-fw fa-lg fa-users"/>
          {{tr "Users"}}
          </a>
        </li>
        {{/isTabPanelEnabled}}
        <li>
          <a href"#" class="medium off-color provision_vms_list_button" id="">
            <i class="fa fa-fw fa-lg fa-th"/>
            {{tr "VMs"}}
          </a>
        </li>
        {{#isTabPanelEnabled "provision-tab" "templates"}}
        <li>
          <a href"#" class="medium off-color provision_templates_list_button">
            <i class="fa fa-fw fa-lg fa-save"/>
            {{tr "Templates"}}
          </a>
        </li>
        {{/isTabPanelEnabled}}
        {{#isTabPanelEnabled "provision-tab" "flows"}}
        <li>
          <a href"#" class="medium off-color provision_flows_list_button" id="">
            <i class="fa fa-lg fa-fw fa-cubes"/>
            {{tr "Services"}}
          </a>
        </li>
        {{/isTabPanelEnabled}}
        {{!
        <li style="border-left: 1px solid #efefef; height: 40px"></li>
        <li>
          <a href"#" class="medium off-color" id="provision_user_info_button">
            <i class="fa fa-fw fa-lg fa-user"/>
            config[display_name]+
          </a>
        </li>
        <li>
          <a href="#" data-dropdown="provision_zone_selector" class="button small radius secondary dropdown off-color" id="zonelector" style="padding:0px; font-size: 12px;">
            <i class="fa fa-home fa-lg header-icon" style="margin-bottom: 2px"/>
            + config[zone_name] +
          </a>
          <ul id="provision_zone_selector" data-dropdown-content class="zone-ul f-dropdown"></ul>
        </li>
        }}
      </ul>
    </div>
  </div>
</div>