{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}
<fieldset class="large-12 columns dashboard-fieldset" id="provision_vms_dashboard">
    <div class="row">
      <div class="large-12 columns dashboard-div-titles">
        <div class="small-6 medium-8 columns">
          <h5>{{tr "Virtual Machines"}}</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-3 medium-4 columns text-center">
        <div class="row">
          <div class="large-6 columns">
            <h3>
              <span  id="provision_dashboard_owner"> <i class="fas fa-spinner fa-spin"></i>
              </span>
              <br>
              <small class="subheader">{{tr "Owner"}}</small>
            </h3>
          </div>
          <div class="large-6 columns">
            <h3>
              <span  id="provision_dashboard_group"> <i class="fas fa-spinner fa-spin"></i>
              </span>
              <br>
              <small class="subheader">{{tr "Group"}}</small>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <a href"#" class="medium button success provision_create_vm_button"> <i class="fas fa-lg fa-plus-square"/></a>
            <a href"#" class="medium button provision_vms_list_button">
              <i class="fas fa-lg fa-th"/>
            </a>
          </div>
        </div>
      </div>
      <div class="large-9 medium-8 columns text-center">
        <div class="large-10 medium-12 large-centered columns">
        <div class="large-3 medium-3 small-6 columns">
          <h3>
            <span id="provision_dashboard_running">
              <i class="fas fa-spinner fa-spin"></i>
            </span><br>
            <small class="subheader">{{tr "RUNNING"}}</small>
          </h3>
        </div>
        <div class="large-3 medium-3 small-6 columns ">
          <h3>
            <span id="provision_dashboard_deploying" >
              <i class="fas fa-spinner fa-spin"></i>
            </span><br>
            <small class="subheader">{{tr "DEPLOYING"}}</small>
          </h3>
        </div>
        <div class="large-3 medium-3 small-6 columns">
          <h3>
            <span  id="provision_dashboard_off">
              <i class="fas fa-spinner fa-spin"></i>
            </span><br>
            <small class="subheader">{{tr "OFF"}}</small>
          </h3>
        </div>
        <div class="large-3 medium-3 small-6 columns ">
          <h3>
            <span  id="provision_dashboard_error">
              <i class="fas fa-spinner fa-spin"></i>
            </span><br>
            <small class="subheader">{{tr "ERROR"}}</small>
          </h3>
        </div>
        <br>
        </div>
      </div>
    </div>
</fieldset>