<div id="{{dialogId}}" class="reveal-modal" data-reveal>
  <div class="row">
    <h3 class="subheader">
      <span id="header">{{tr "Confirm"}}</span>
      <br>
    </h3>
  </div>
  <form id="{{dialogId}}Form">
    <div id="body">{{tr "You have to confirm this action."}}</div>
    <br/>
    <div id="question">{{tr "Do you want to proceed?"}}</div>
    <br/>
    <div class="form_buttons">
      <button id="generic_confirm_proceed" class="radius button right" value="">{{tr "OK"}}</button>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </form>
</div>