{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2024, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<dl class="accordion accordion_list provision_list_templates" data-accordion>
  <dd class="{{#if opts.active}}is-active{{/if}} accordion-item" data-accordion-item>
    <a class="only-not-active accordion-title" href="#provision_list_template_accordion{{accordionId}}">
      <span class="button"> <i class="fas fa-fw fa-lg fa-th"/><i class="fas fa-fw fa-lg fa-chevron-left"/>
      </span>
    </a>
    <h4>
      <a href"#" class="only-active provision_templates_list_refresh_button" 
          {{#unless opts.refresh}}hidden{{/unless}} title=" {{tr "Refresh"}}">
        <i class="fas fa-fw fa-sync-alt"/></a>
      </a>
      <span class="only-active">{{opts.title}}</span>
      <span class="right only-active provision_list_templates_filter"></span>
      <input type="search" class="right provision_list_templates_search only-active provision-search-input" placeholder="Search Templates"/>
    </h4>
    <div id="provision_list_template_accordion{{accordionId}}" class="accordion-content" data-tab-content>
      <div class="row">
        <div class="provision_confirm_delete_template_div large-12 large-centered columns"></div>
      </div>
      <div class="row">
        <div class="large-12 large-centered columns">
          <table class="provision_templates_table">
            <thead hidden>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>User ID</th>
              </tr>
            </thead>
            <tbody hidden></tbody>
          </table>
          <br></div>
      </div>
    </div>
  </dd>
  <dd class="accordion-item" data-accordion-item>
    <a class="provision_show_template_accordion accordion-title" href="#provision_show_template_accordion{{accordionId}}"></a>
    <div id="provision_show_template_accordion{{accordionId}}" class="accordion-content" data-tab-content></div>
  </dd>
</dl>
